[2016-03-23 13:59] nbasov opened #20 "Run latest mocha"
Hello,

I need to run latest mocha in parallel. As I see you defined mocha version in package.json "dependencies" section. May be it will be better to move mocha to devDependencies.

What solution do you see to run latest mocha?

[2016-03-23 19:33] 1999 commented on #20
Hello @nbasov

mocha can't be moved into devDependencies because it's actively used inside mocha-parallel-tests itself: https://github.com/mmotkina/mocha-parallel-tests/blob/master/lib/watcher.js#L99
If we move mocha into devDependencies it won't be installed on `npm install mocha-parallel-tests`.

Possible solution could be moving mocha into `peerDependencies`, but this would make every user of `

[2016-03-23 19:43] 1999 commented on #20
I'll merge #21 asap if tests don't fail

[2016-03-23 20:07] 1999 commented on #20
Done: https://github.com/mmotkina/mocha-parallel-tests/blob/master/CHANGELOG.md

[2016-03-24 07:20] nbasov commented on #20
Got it. Thank you!

[2016-03-24 07:20] #20 closed

[2016-03-25 07:56] nbasov opened #23 "Wrong overall tests time"
Standard reporter outputs wrong overall test time

[code]

It reports 6s, but real time were about 1.5 min.

[2016-03-25 09:39] 1999 commented on #23
Hm... I think this can be fixed. Would you like to fix this error in PR or can i fix it myself?

[2016-03-25 10:37] nbasov commented on #23
I spent some time figuring out how to fix but with no result yet. It would be great if you fix it.

[2016-03-26 08:06] 1999 commented on #23
@nbasov do you use `--max-parallel` option in your tests?

[2016-03-28 11:10] nbasov commented on #23
@1999 thank you! Works great!

[code]

Yes, i am using --max-parallel 10 since I make calls to API on limited cluster.

[2016-03-28 14:31] 1999 commented on #23
Nice. If you don't mind I will postpone publishing of the new version for 1 week.

[2016-03-28 14:31] #23 closed

[2016-03-29 04:19] nbasov commented on #23
Sure, no problem.

[2016-03-29 05:40] nbasov opened #26 "Unhandled rejection not recognized as test fail"
Got following error during tests run

[code]

but this is not includes in error summary

[2016-03-29 06:46] 1999 commented on #26
Hm... a reproducable test case would be useful here.

[2016-04-25 20:24] #26 closed

[2016-05-03 17:13] diemol opened #30 "ReferenceError: driver is not defined"
Hi,

I am trying to use the `mocha-parallel-tests` npm package with the following test suite:
https://github.com/diemol/frontend_testing/tree/master/webdriver-examples-js-parallel

The suite works fine when I just use `mocha`, and of course it runs sequentially.

When I try to use `./node_modules/.bin/mocha-parallel-tests test/`, I get the following:

[code]

So it seems that when `mocha` is execu

[2016-05-03 18:42] 1999 commented on #30
I would say that the problem lies somewhere here: https://github.com/diemol/frontend_testing/blob/master/webdriver-examples-js-parallel/test/base.js#L34
You are creating a `driver` variable without `var`, `let` or `const`. This usually means that the variable is created in the global scope and is considered to be a buggy behaviour, which is why this is prohibited in strict mode.

Anyway if you wan

[2016-05-04 09:50] diemol commented on #30
Hi again,

What you said makes a lot of sense, also because the `driver` variable will be shared by the tests and this leads usually to unexpected behaviour.
I have done the same example in Java, and a `ThreadLocal` array is used or creating the `driver` in the test.
The same concept should apply here, I will refactor my examples to reflect it.

I'll close the issue since it is clearly related to

[2016-05-04 09:50] #30 closed

[2016-05-05 11:13] 1999 commented on #30
No worries, thanks for using mocha-parallel-tests.

[2016-05-11 11:31] peteroreil opened #31 "TypeError when using --reporter xunit"
when executing multiple suites and using xunit reporter a Type error is thrown.
[code]
results in
[code]

the xunit constructor requires an options parameter
[code]

However the mocha-parallel-reporter in setUserReporter
(./dist/lib/reporter.js) is only passing a single parameter.

[code]

I updated the UserReporter constructor to pass an empty object in the constructor.
It fixed my issues with xu

[2016-05-11 21:07] #31 closed

[2016-05-11 21:07] 1999 commented on #31
@peteroreil thanks for posting this issue. PR is merged and the new version is being published.

[2016-05-14 23:23] gaggle opened #33 "Requires tests in separate files?"
Hi,

Just to be sure I understand, to use this library the tests needs to be in separate files? Which I assume means there's no way to generate suites at runtime that all run in parallel? I'm trying to parallelize a dynamically generated browser-matrix into Sauce Labs.

[2016-05-16 14:30] 1999 commented on #33
Currently every suite needs to be located inside separate files, you're right. Can you post an example of such dynamically generated suite?

[2016-05-17 11:38] gaggle commented on #33
Sure, here I generate test cases: https://github.com/gaggle/gaggle/blob/master/test/ui/index.test.js

It's basically this:

    describe("foo", function () {
      _.map(getBrowsers(), function (browser) {
        _.map(getResolutions(), function (resolution) {
          it("bar", function () {
            // Selenium test logic
          })
        })
      })
    })

I wanted to parallelise that

[2016-05-18 08:34] 1999 commented on #33
We decided that parallelising test cases is dangerous and came to parallelising of suites inside files which is quite easy. The thing you want to get can be achieved by parallelising with promises, right?
[code]

[2016-05-19 19:41] gaggle commented on #33
Hm, let me see if I understand. You're suggesting I "pre-calculate" the promises within a single test case, and then submit them to be run via `Promise.all`. And run the whole thing through ordinary Mocha, is that correct?

To my knowledge Promise.all does not explicitly run code in parallel though, it just runs the Promises, so I still end up waiting for each Promise to resolve since they block w

[2016-05-19 21:22] 1999 commented on #33
First of all, sorry for for..of iterating of objects. I assumed that getBrowsers() returns array-like object or an array itself. This is a mistake, right.

Second: you're again right about Selenium tests being serial and 99% that my variant is not working. I noticed it only now (what was I thinking about when I was writing that, huh :( )

As for your test case. Is this what you're trying to get?
[

[2016-05-20 13:31] gaggle commented on #33
Yeah that's exactly right, I'd like to accomplish dynamic test cases that are run in parallel.

[2016-05-21 17:25] 1999 commented on #33
@gaggle just wanted you to know that I'm working on this problem right now.

[2016-05-21 18:26] gaggle commented on #33
Oh awesome. If there's a branch I can help test let me know.

[2016-05-22 08:37] 1999 opened #36 "Get rid of --retry option (mocha has its own --retries)"

[2016-05-23 06:09] 1999 commented on #33
It seems like I have found a solution without even monkey-patching mocha code. I hope it will be ready for test today.

[2016-05-23 20:20] 1999 commented on #33
@gaggle please try mocha-parallel-tests@0.5.0-beta.1

[2016-05-24 10:10] 1999 commented on #36
Cons of mocha retries:

* Retry status is not visible. For user test seems to just run a bit longer
* Only test case is re-executed. For Selenium testing when `before` hook is used mostly for session initialization and `after` for session terminating test case re-executing is usually useless.

[2016-05-24 10:10] #36 closed

[2016-05-25 19:09] gaggle commented on #33
Oh awesome! Thank you. I don't seem to be getting parallel running though, this is what I've done:

[code]

The test-code itself:
[code]

And the output:
[code]
They take 10 seconds to run so they're running linearly. If you spot something I'm doing wrong let me know, super happy to help with this. Also, I've pushed a [parallel-uitests](https://github.com/gaggle/gaggle/tree/parallel-uitests) branc

[2016-05-26 08:05] 1999 commented on #33
Yep, you're trying to get parallel running of test cases (`it(...)`) while mocha-parallel-tests runs only suites (`describe(...)`) in parallel. The reason for this is that usually you need parallel tests execution for selenium-related stuff and you just can't / don't normally parallel test cases: they are just your actions while before/after hooks are mostly used for session instantiating and term

[2016-05-26 12:12] gaggle commented on #33
Ah okay, right, I'd missed that point. When I run fake tests it's definitely running parallel now, that's great!

This runs in just a hair over 2 seconds:
[code]

Just as an aside, errors seems to only talk about the first test that fails:
[code]
But that's pretty minor, all things considered.

Unfortunately when I use the full test logic I don't get the expected behaviour. The full test connects

[2016-05-30 17:06] 1999 commented on #33
Let me dive into the first problem first: #37
Probably we will find a solution to the whole problem then

[2016-05-30 17:33] 1999 commented on #33
@gaggle just published `0.5.0-beta.2`, please take a look.

[2016-06-02 21:38] gaggle commented on #33
Awesome.

Let's do it.

First, perfect output with delay:
[code]

And likewise with error:
[code]

But when I run the actual test suites I only get one test that runs:
[code]

This seems related to the `eyes.selenium` module, as soon as it's invoked the tests no longer run correctly.. It's not necessarily something on your plate, but if you have any ideas or approaches that might shed more light o

[2016-06-03 07:46] 1999 commented on #33
Not necessary. Can you give me a link to your repo so I could run tests by myself?

[2016-06-03 08:40] gaggle commented on #33
Absolutely. Sync down branch https://github.com/gaggle/gaggle/tree/parallel-uitests

Should just be `npm run test:ui:sl`. It should run five fake tests, but fails like this:

[code]

If I flip the line @ [`/test/ui/index.test.js::40`](https://github.com/gaggle/gaggle/blob/parallel-uitests/test/ui/index.test.js#L40) then all tests run correctly.

[2016-06-03 10:30] 1999 commented on #33
Investigating.

[2016-06-03 11:01] 1999 commented on #33
Strange but SauceLabs doesn't run tests: https://saucelabs.com/jobs/adb51fa7cd0f4762afbb8aef48241cc9
@gaggle

[2016-06-03 15:30] gaggle commented on #33
I disabled all the heavy lifting, to not depend on sauce-connect and such. It also means tests don't actually run anything, they just initialise the `eyes` object. It was the minimal code I could find that wouldn't run correctly.

If you'd prefer I'm happy to enable the full functionality, so you can test with Sauce Labs + Applitools.

[2016-06-03 16:33] gaggle commented on #33
Oh I disabled tests in the `parallel-uitests` branch, if you run from master it'll depend on sauce-connect and credentials.

[2016-06-03 20:20] 1999 commented on #33
I am a dumbass, I forgot to switch branches, everything is okay

[2016-06-06 05:11] 1999 commented on #33
All right, I finnaly figured out what's the problem. First of all `mocha-parallel-tests@0.5.0-beta.4` does run test siotes in parallel, its test is real. As for your test I noticed that you use `selenium-webdriver` to communicate with Selenium. It has a concept of flows and prevents running them in parallel:

https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/lib

[2016-06-07 18:09] gaggle commented on #33
Yeah I'll look into the parallel flows, that's really interesting. And thanks for the insight, and the energy put into all this.

[2016-06-07 21:49] 1999 commented on #33
No worries, this is a really interesting engineering task. If you have any info feel free to post it here.

[2016-06-17 00:26] tsdaita opened #39 "root-level hooks are not being called"
Mocha's root level hooks, ie having before/beforeEach in a different file outside of the describe are not getting called.

tests/sample.js
[code]

tests/base.js
[code]

When executing through mocha the before function from base is called

base : before run!
  An afterEach hook
before run!
    in some nested contexts
nested before run!
nested it run!
      ✓ runs after this block
afterEach run!
sec

[2016-06-17 08:26] 1999 commented on #39
Thanks for posting issue. Will take a look at it soon.

[2016-06-24 10:40] 1999 commented on #39
Seems interesting: if you move your base.js code into sampe.js, everything works fine. Is it possible?

[2016-06-24 10:50] 1999 commented on #39
#40

[2016-06-24 10:51] #33 closed

[2016-06-24 13:25] #39 closed

[2016-06-24 13:27] 1999 commented on #39
`mocha-parallel-tests=0.5.1` has the fix @tsdaita

[2016-06-29 23:12] tsdaita commented on #39
Hi,
Apologies for the late response. Thanks for taking a look and fixing it.
Appears this is partially fixed. When passing the individual file ( node_modules/.bin/mocha-parallel-tests tests/sample.js) it seems to work.
But if we give just the dir path (either node_modules/.bin/mocha-parallel-tests tests/ or node_modules/.bin/mocha-parallel-tests tests/*.js) it does not seem to call the root level

[2016-06-30 05:19] tsdaita opened #41 "root-level hooks are not being called partially fixed ref : #39"
Hi,
Apologies for the late response wrt issue #39 . Thanks for taking a look and fixing it.
Appears this is partially fixed. When passing the individual file ( node_modules/.bin/mocha-parallel-tests tests/sample.js) it seems to work.
But if we give just the dir path (either node_modules/.bin/mocha-parallel-tests tests/ or node_modules/.bin/mocha-parallel-tests tests/*.js) it does not seem to call

[2016-06-30 05:33] 1999 commented on #39
@tsdaita can you give a more detailed example? A failing test would be even better

[2016-06-30 05:33] 1999 commented on #41
@tsdaita can you give a more detailed example? A failing test would be even better

[2016-06-30 17:09] tsdaita commented on #41
The same code provided in the #39 can be used.
When passing the folder (node_modules/.bin/mocha-parallel-tests tests/ ) where both the test file and global hook file are present it does not print the statement from "base : before run!" from the base.js

[2016-07-01 11:39] 1999 commented on #41
Did you update mocha-parallel-tests to the latest version? The test [here](https://github.com/mmotkina/mocha-parallel-tests/tree/master/test/global-hooks-require) is exactly about your situation and it was fixed.

[2016-07-05 06:32] tsdaita commented on #41
Hi,
Using the same set of files that I have provided in issue #39, and after
installing the updated version I still see the issue of the global hook not
being called when I pass the folder name. Here is the output.

%>npm install mocha-parallel-tests

└── mocha-parallel-tests@0.5.1  extraneous

Scenario 1:

When invoking the command by passing the actual test file, you can observe
that the print s

[2016-07-06 06:01] 1999 commented on #41
Oh, got it! The problem is about tests path. Will fix this in #42

[2016-07-06 11:37] #41 closed

[2016-07-06 11:41] 1999 commented on #41
Check out `mocha-parallel-tests@0.5.2`
There's only one exception: console logs are not shown yet: https://github.com/mmotkina/mocha-parallel-tests/pull/43

@tsdaita

[2016-07-15 21:05] rodoabad opened #44 "Does not recognize `mocha.opts`"
I have `mocha.opts` file that requires `babel` so all my ES6 files can be transpiled. However, when using `mocha-parallel-tests`, it doesn't seem to read that file and I'm getting the `Unexpected token import` problem.

`mocha-parallel-tests test/unit`

[2016-07-17 15:23] 1999 commented on #44
Thanks for posting issue @rodoabad.
Will look at it asap.

[2016-07-18 15:14] #44 closed

[2016-07-18 15:16] 1999 commented on #44
@rodoabad try mocha-parallel-tests@0.5.3 version. Does it work well?

[2016-07-23 16:43] tourdedave opened #47 "Tests don't run with selenium-webdriver/testing mocha wrapper"
The official JavaScript Selenium bindings have a helper library for writing mocha tests which take advantage of the ControlFlow promise helper that comes in the bindings ([link](http://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/testing/index.html)).

When I try to run tests written with it using `mocha-parallel-tests` it doesn't find them.

[code]

[My example code

[2016-07-23 17:54] 1999 commented on #47
Thank you for posting issue. From what I see `selenium-webdriver/testing` wraps original `mocha` hooks (it, beforeEach etc) with `makeAsyncTestFn`. I'm not sure that I can fix this issue, but can you provide a bit more into on what's `ControlFlow` is and why is it important to wrap original `mocha` hooks with selenium-webdriver?

[2016-07-23 18:31] tourdedave commented on #47
There's documentation about `ControlFlow` [here](http://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/lib/promise_exports_ControlFlow.html). As for the rationale behind why it's necessary for selenium-webdriver, I'm not sure. I tried just using the built-in mocha hooks for my tests and wasn't able to get my tests to run correctly. I'll give it another go though.

[2016-07-23 19:18] 1999 commented on #47
Maybe it's my english so bad, but what does this all mean? Mocha runs every test case (`it` hook) only when the previous case has been completed.

Anyway I have an idea how I can fix this issue, will look at it tomorrow.

[2016-07-23 19:23] tourdedave commented on #47
Great!

[2016-07-26 06:09] 1999 commented on #47
One more observation:

[code]

When this code is running in `beforeEach()`, it's sync and test execution doesn't get paused. But `test.beforeEach()` pauses test executing.

[2016-07-26 15:21] rodoabad commented on #44
Sorry it still does not recognize `mocha.opts`.

If `mocha.opts` is in `/test`, and your testing `/test/unit/**` does it go up? Didn't have time to look at your changes, sorry.

[2016-07-26 16:00] megatolya opened #48 "mpt exits without any error when some test throws error on start"
I had missing deps in my app. I launched `mocha-parallel-tests` and it logged nothing. If i run same tests with `mocha` it shows stack trace (in my case it shows that module not found).

[code]

VS

[code]

[2016-07-28 03:51] 1999 commented on #44
It does. I made an example repo so you could also see it: https://github.com/1999/mpt-issue-44
`git clone` and `npm install` before you run tests. `mocha.opts` is located inside test/ directory while test is in test/unit/

[2016-07-28 04:09] 1999 commented on #48
Толик, кажется это просто какие-то настройки репортера или что-то типа того. Во всяком случае тест стабильно валится:

[code]

Покажи мне вживую.

[2016-07-28 15:40] megatolya commented on #48
воспроизвел вот так, с синтаксической ошибкой под 4ой нодой:
[code]

[2016-07-29 15:21] megatolya commented on #48
локально кстати тоже воспроизводится по четвертой нодой, под шестой ок

[2016-07-29 19:52] rodoabad commented on #44
Try it by requiring files.

Example..

[code]

[2016-07-29 23:46] rodoabad commented on #44
Here's the pull request - https://github.com/1999/mpt-issue-44/pull/1

[2016-07-30 14:18] 1999 commented on #44
This is another case: `mocha-parallel-tests` seems to doesn't support `--require` option now. Can you switch to `--compilers` option?

[2016-07-30 14:38] rodoabad commented on #44
`--require` and `--compilers` does not work.

[2016-07-30 14:39] 1999 commented on #44
Well... `--compilers` should work because we use it in our tests. Can you provide an example of `--compilers` not working?

Btw you can subscribe to [this PR](https://github.com/mmotkina/mocha-parallel-tests/pull/49) to see progress on `--require`.

[2016-07-30 14:55] 1999 commented on #48
Посмотри тест плз? https://github.com/mmotkina/mocha-parallel-tests/pull/50/files
Я или смотрю не туда, или не так тебя понял. У меня на 4 ноде mpt падает с ошибкой как и ожидается

[2016-07-30 14:56] rodoabad commented on #44
Wouldn't it be the same setup?

`--compilers js:test/utils/babel-register.js`

[2016-07-30 15:27] 1999 commented on #44
In my case no: https://github.com/mmotkina/mocha-parallel-tests/blob/master/test/js-compilers/index.sh#L3
Currently looking into your example.

[2016-07-30 15:42] 1999 commented on #44
`--require` option is supported in `mocha-parallel-tests@0.5.4`

[2016-07-30 19:03] 1999 commented on #44
As for `--compilers` with file passing: subscribe to [this PR](https://github.com/mmotkina/mocha-parallel-tests/pull/51)

[2016-07-31 00:06] amilajack opened #52 "Performance comparison between `mocha.parallel`"
I'm trying to find the fastest mocha 'parallelizing' library. It would be useful if the performance if this library could be compared to those of others.

[2016-07-31 00:24] amilajack opened #53 "Support for `--compilers` option"

[2016-07-31 00:25] amilajack commented on #53
Compilers are a pretty common part of js projects. it would be nice if this project could support them.

[2016-07-31 06:27] 1999 commented on #52
Thank you for posting issue!

I'm not sure about the performance comparison, but from what I see, `mocha.parallel` changes the way you write tests: it adds its own API. At the same time `mocha-parallel-tests` has better test coverage because it has been developing all this time with TDD.

But I will try to make some perfomance comparison soon.

[2016-07-31 07:22] 1999 commented on #53
Just published `0.5.5` version. Try it please and tell whether everything is good or not @amilajack

[2016-07-31 07:31] amilajack commented on #53
Thanks! I'll give this a go.

[2016-08-01 10:03] megatolya commented on #48
да, такой же делал и тоже не воспроизвелось. Хотя на деве все еще воспроизводится. попробую на досуге понять, в чем разница

[2016-08-01 15:45] 1999 commented on #48
Кажись это тот самый error outside test suite, который давно ловил @k03mad:
[code]

[2016-08-02 04:36] 1999 commented on #48
Для памяти скопирую решение сюда. Все еще падают несколько тестов:
[code]

[2016-08-02 05:22] 1999 commented on #48
Решу вопрос в #54 и опубликую версию 0.5.6

[2016-08-03 04:23] #53 closed

[2016-08-03 06:32] amilajack commented on #53
btw does this project support mocha 3+?

[2016-08-03 09:23] 1999 commented on #53
Thanks, I knew nothing about mocha@3 until your comment. Just ran all tests with mocha@3 and everything is okay. The only problem is that mocha-parallel-tests has mocha in "dependencies". What do you think of moving mocha into peerDependencies so you could specify which mocha version you are running tests with?

[2016-08-03 09:24] 1999 opened #55 "Support mocha@3"
https://github.com/mochajs/mocha/blob/master/CHANGELOG.md#300--2016-07-31

[2016-08-03 09:39] 1999 commented on #53
#55

[2016-08-03 17:15] amilajack commented on #53
I think that would be a better idea.

[2016-08-04 21:33] #55 closed

[2016-08-08 04:51] #48 closed

[2016-08-08 14:32] 1999 commented on #47
Preparing new release...

[2016-08-08 14:48] 1999 commented on #47
@tourdedave could you please try `mocha-parallel-tests@1.2.0-beta.1`?

[2016-08-15 14:21] mattrlong opened #58 "Using mocha-parallel-tests programmatically"
In the project that Im working on current Mocha is used [programmatically](https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically), rather than it being initialised from a make or grunt file.

When I've attempted to update to helper functions to use mocha-parallel-tests rather than mocha, i've simply tried to replace the require statement from:
var Mocha = require('mocha') to var Mocha

[2016-08-15 14:26] hpurmann opened #59 "`describe.skip` is not a function"
This module fails executing the tests when skipping a top level describe block.

This minimal test
[code]

gives me this output:

[code]

[2016-08-15 14:47] 1999 commented on #58
Hm, seems like you're either using an old mocha-parallel-tests version or installed it via `git://`. How do you include mocha-parallel-tests into your project?

[2016-08-15 14:48] 1999 commented on #59
Could you provide a bit more descriptive example of your test?

[2016-08-15 14:49] mattrlong commented on #58
Thanks for the quick reply.

I've installed it using the npm commands listed on the readme.

[2016-08-15 15:13] hpurmann commented on #59
Sure. I updated the post.

[2016-08-15 15:37] 1999 commented on #58
Seems strange. I will investigate into this issue asap. Thanks for the issue.

[2016-08-15 15:38] 1999 commented on #59
Cool! Thanks for posting issue, will look at it tomorrow.

[2016-08-15 16:03] 1999 commented on #47
afaik something is still wrong. reopening for further fix.

[2016-08-15 16:09] 1999 commented on #58
Please try mocha-parallel-tests@1.1.1

[2016-08-15 16:30] #59 closed

[2016-08-15 16:31] hpurmann commented on #59
That was fast, thank you!

[2016-08-15 16:33] 1999 commented on #59
you're welcome!

[2016-08-16 08:33] mattrlong commented on #58
Hi thanks for the quick fix. It's resolved the original issue, however when we're adding the spec files programmatically, we are using mocha's addFile function, which doesn't appear to be supported in mocha-parallel-tests.

TypeError: mocha.addFile is not a function
    at Object.mochaFactory (/.../src/test/parallel/test-helper.js:135:9)
    at Object.TestRunner.runMochaOnFileSet (/.../src/test.js

[2016-08-16 08:43] 1999 commented on #58
Eh... another example that any change should have been covered with tests :(
Thanks, will fix that today.

[2016-08-18 10:05] 1999 commented on #58
@mattrlong could you please try `1.2.0-beta.2` version? Is it working as expected?

[2016-08-18 10:46] mattrlong commented on #58
@1999 I'm now seeing this error when calling run()

(node) warning: possible EventEmitter memory leak detected. 11 uncaughtException listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at process.addListener (events.js:239:17)
    at Runner.run (/.../src/node_modules/mocha/lib/runner.js:815:11)
    at Mocha.run (/.../src/node_modules/mocha/lib/mocha.js:519:17)
    at fileRu

[2016-08-18 10:57] mattrlong commented on #58
I may also be running into https://github.com/mmotkina/mocha-parallel-tests/issues/47 as I'm using the selenium test wrapper too.

[2016-08-18 12:06] 1999 commented on #58
Can you give me an example so I could try this myself?

[2016-08-18 15:36] mattrlong commented on #58
@1999 I think this is the snippet you're after. (I've cut and paste the relevant pieces out of our codebase, so some of the dependencies might be missing, but hopefully enough)

Mocha = require('mocha-parallel-tests');

var TestRunner = function (options) {
	this.options = options;
};

TestRunner.prototype = {

	runMochaOnFileSet: function (paths, cb) {
		var maxThreads = config.has('selenium.maxP

[2016-08-18 22:28] amilajack commented on #53
I just tried this and it doesnt seem to work. I'm getting syntax errors from es6 code.

[2016-08-19 07:16] 1999 commented on #53
[Test says](https://github.com/mmotkina/mocha-parallel-tests/tree/master/test/js-compilers-1) that it should. Could you please provide your code, mocha-parallel-tests version and how you run your tests? A cloneable repo would be great.

[2016-08-19 09:35] 1999 opened #62 "Uncaught exceptions during tests"
Seems like uncaught exceptions during tests can be a problem for mocha-parallel-tests. When mocha run() function is invoked, this code is executed: `process.on('uncaughtException', uncaught);`. uncaught is a function which detects which tests is currently running and either fails it or writes "uncaught error outside tests". In case of parallel running suites uncaught function doesn't know which fi

[2016-08-19 09:38] 1999 commented on #47
https://gist.github.com/mattrlong/d64d6f95520e3211e15776d9b2dd0237#file-gistfile1-txt-L9

[2016-08-19 09:45] 1999 commented on #58
Please check 1.2.0-beta.3 version. Does it work for you? Do you see any selenium-webdriver errors during tests execution?

[2016-08-19 10:17] mattrlong commented on #58
Hi thanks for the update. Im now no longer seeing the error that I was yesterday. However, due to #47 none of my tests will run as I'm instantiating my driver object in a test.before function.

(A handful of my tests had incorrectly not been wrapped in the selenium 'test' functions, which highlighted the original issue)

[2016-08-19 15:17] amilajack commented on #53
Sure. You can checkout the [parallel-mocha](https://github.com/amilajack/popcorn-time-desktop/tree/parallel-mocha) branch of [my project](https://github.com/amilajack/popcorn-time-desktop/tree/parallel-mocha).

[2016-08-21 21:03] 1999 opened #63 "--compilers option fails when --require is using file which must be also compiled"

[2016-08-21 21:04] 1999 commented on #53
Thanks. I discovered that the problem is in using `--require ./test/setup.js` option. Without it everything goes ok. Will look into it asap #63

[2016-08-21 21:05] amilajack commented on #53
Thanks!

[2016-08-22 09:08] #63 closed

[2016-08-22 09:11] 1999 commented on #63
@amilajack please check `mocha-parallel-tests@1.2.1`

[2016-08-22 09:13] 1999 commented on #58
Could you please post an example of your test which doesn't run at all? @mattrlong

[2016-08-22 09:31] k03mad opened #65 "Using console.log in custom command out of test file"
Hello!

I have a custom command which print current url to console.
Command adds at file which requires from test-file.

Then I run the tests, all console.logs prints before first test, not in each test structure.
Custom command:

[code]

[2016-08-22 11:16] mattrlong commented on #58
Hi @1999,

Sure, this is similar to most of the specs I'm currently working with
[code]

When executed you'll see a similar error to this:
 ReferenceError: driver is not defined
      at Context.<anonymous> (test/spec/.../demoTest.js:16:4)
      at node_modules/selenium-webdriver/testing/index.js:144:19
      at new ManagedPromise (node_modules/selenium-webdriver/lib/promise.js:1082:7)
      at co

[2016-08-22 12:50] mattrlong commented on #58
Apologies for the last comment, I spotted the unintentional mistake. I'd attempted to create a demostration of the issues I've been seeing, but in that separate demo.js the selenium test wrappers seem to be working. I'll try debugging what the issue is with our project configuration this afternoon and report back any issues.

[2016-08-22 12:55] 1999 commented on #58
No worries. If you see smth strange, post it right into #47

[2016-08-22 12:56] #58 closed

[2016-08-22 17:07] mattrlong commented on #58
The cause of the issue is that a number of the files that are added to the Mocha object using addFile are actually base files & utilities files. To ensure that they are loaded before the specs, during standard Mocha execution, these files are 'unshifted' to the front of the paths array. Using Mocha-parallel-tests the hooks & global variables configured in these files are not being executed.

The i

[2016-08-23 12:04] 1999 commented on #58
@mattrlong is `--require` option what you need?

[2016-08-23 13:02] mattrlong commented on #58
Something like that, but due to the number of utilities files we have ideally something like --require-dir. Was planning to look into adding [this](https://www.npmjs.com/package/require-dir) to each of the specs with the directory of the utils. Obviously if it, or something similar could be incorporated into this repo that would be great

[2016-08-24 04:08] amilajack opened #66 "Parallelization across threads"
Right now the parallelization benefits that I get from using this module aren't very significant. What do you think about parallelizing the work across threads?

[2016-08-24 12:10] 1999 commented on #66
Thinking of it right now :)

[2016-08-24 15:40] amilajack commented on #66
Also, ideally, this project would feature some benchmarks so that we can know about performance regressions.

[2016-08-25 07:42] 1999 opened #67 "--require-dir option"
https://github.com/mmotkina/mocha-parallel-tests/issues/58#issuecomment-241722741

[2016-08-25 13:45] thomas-huston-zocdoc opened #68 ""Uncaught error outside test suite""
After my first test suite runs, I always get "uncaught error outside test suite" and the process exits.

I added some logging inside Mocha itself to see what the stack trace was, and this is what I got:

[code]

[2016-08-26 10:53] 1999 commented on #68
Hm... Could you please post an example of your test?

[2016-08-30 13:56] mattrlong commented on #47
Can you expand on what you believe is the outstanding issue on this ticket?

I myself am seeing the following error which I am not when using mocha directly:
  1)  "before all" hook:
     Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.

Calling done() should not be required when using the selenium-webdriver wrapper due to it's inbuilt promise manager.

[2016-08-30 20:01] 1999 commented on #47
Eh... Could you provide failing test case for this? Currently there's an existing [test case](https://github.com/mmotkina/mocha-parallel-tests/tree/master/test/run-programmatically) with timeout() and it seems to work as expected.

[2016-09-02 10:38] mattrlong commented on #47
Right, sorry for the delay in responding. I've created a POC outside our current test pack, and the timeout is working as expected. I do see a separate issue which I will log separately however.

[2016-09-02 11:00] mattrlong opened #69 "Test run multiple times"
I have created the following three spec files and a js file to execute them programmatically:
[Parallel 1](https://gist.github.com/mattrlong/3e66f9f7769d269d781f10780a382951)
[Parallel 2](https://gist.github.com/mattrlong/9478985b2cc20d655183e67c29b2f29d)
[Parallel 3](https://gist.github.com/mattrlong/f5744c57f6c5aeca0bbe4a8a6e7c1f44)
[Programatic](https://gist.github.com/mattrlong/4335a2958e027ce

[2016-09-02 12:55] 1999 commented on #47
:+1:

[2016-09-02 12:56] #47 closed

[2016-09-02 13:06] 1999 commented on #69
Maybe the problem is related to #47
I'll take a closer look at it tomorrow.

[2016-09-08 17:20] 1999 commented on #69
@mattrlong could you please try mocha-parallel-tests@1.2.2-beta.1 and say if it works for you?

[2016-09-09 09:40] mattrlong commented on #69
👍  works well.

[2016-09-09 10:37] 1999 commented on #69
Nice. Published this version without beta. Thank you!

[2016-09-09 10:37] #69 closed

[2016-09-09 10:38] 1999 commented on #68
@thomas-huston-zocdoc ping

[2016-09-15 10:10] k03mad commented on #65
Сейчас юзаю хуку beforeEach(), в которой проверяю изменился ли урл — если да, вывожу его в консоль:

[code]

Хуки подключаются ко всем тестам из отдельного модуля:
[code]

При запуске тестов в консольку выводится куча урлов.
Ожидание: урлы выводятся в структуре каждого теста.

[2016-09-20 05:54] #68 closed

[2016-09-26 15:26] mattrlong opened #72 "Global hooks loaded from require not ran"
When loading global hooks from a required file, as per the gists below, they are not executed when ran through mocha-parallel-tests:
[Parallel 1](https://gist.github.com/mattrlong/3e66f9f7769d269d781f10780a382951)
[Parallel 2](https://gist.github.com/mattrlong/9478985b2cc20d655183e67c29b2f29d)
[Parallel 3](https://gist.github.com/mattrlong/f5744c57f6c5aeca0bbe4a8a6e7c1f44)
[hooks.js](https://gist.

[2016-09-27 05:11] 1999 commented on #72
This can be the issue with console.log`s only: they are hard to work with withing parallel tests execution. I will check this issue asap and return back.

[2016-09-27 06:25] 1999 commented on #72
Yep, this is just an issue with console.log`s. I added the test for this: https://github.com/mmotkina/mocha-parallel-tests/pull/73
As you can see I check global variable which is set inside hooks.js

[2016-09-27 09:51] mattrlong commented on #72
Ok, I see. I thought that might be the cause of my issue with creating webdriver instances in global hooks but doesn't appear to be. I'll raise a separate issue for that.

[2016-09-27 09:51] #72 closed

[2016-09-27 10:00] mattrlong opened #74 "Webdriver instances created in global hooks clash when run through mocha-parallel-tests"
When managing webdriver instances through global hooks, when the tests are executed via mocha-parallel-tests the instances clash...
[Parallel 1](https://gist.github.com/mattrlong/3e66f9f7769d269d781f10780a382951)
[Parallel 2](https://gist.github.com/mattrlong/9478985b2cc20d655183e67c29b2f29d)
[Parallel 3](https://gist.github.com/mattrlong/f5744c57f6c5aeca0bbe4a8a6e7c1f44)
[hooks.js](https://gist.g

[2016-09-27 10:42] 1999 commented on #74
I would say that the best way is to call `test.before` inside each suite like this:

[code]

[code]

Of course this is a bit sad to include hooks inside each file, but in this case your `driver` variable isn't shared between suites and you run tests for each suite in its own Selenium session.

[2016-09-28 14:16] F1LT3R commented on #52
I believe the performance increase for `mocha.parallel` is that is uses Bluebird, which implements Promises as compiled machine-code, rather than it running on parallel threads. In theory `mocha-parallel-tests` could do the same thing to boost performance (if it's not already).

[2016-09-28 14:20] F1LT3R commented on #52
You could also bak threading into the core: https://www.npmjs.com/package/threads

Actually if `mocha-parallel-tests` used threads, it would be a huge, huge, massive win. (That and it not swallowing console logs and exceptions.)

[2016-09-28 15:01] 1999 commented on #52
Hm... Well, mocha-parallel-tests is not using promises at all, so I don't know if bluebird usage is good or bad. As for threads: yes, mocha-parallel-tests is currently running inside one thread, but there's an issue to investigate running inside multiple threads: #66.

Right now I would say that using multiple threads will result in worse performance because of threads creation cost, but #66 is de

[2016-09-28 15:26] amilajack commented on #52
I think it depends on the kind of tests that are being run. A lot of my tests make HTTP requests and start up electron. In these kinds of situations, adding thread support could really help out. But for simple unit test assertions, threads would be a drawback.

[2016-09-28 15:44] F1LT3R commented on #52
Good points.

I also agree it depends on the kinds of tests being run.

It could mean worse performance for basic unit testing. When I run threaded code in Node, I stop seeing a direct benefit after 4-5 threads on a Mac Book Pro. But if the code I was running was much quicker, I understand why you would see the thread startup/teardown costs.

And... I think you would also have to be writing code t

[2016-09-28 16:16] amilajack commented on #52
Not sure if a new library is needed. How about a config option through a flag:

[code]

Setting to `true` would automatically scale the tests to how many cores the CPU has. By default, this should be off (`--threads=false`).

[2016-09-28 16:38] 1999 commented on #52
Can't agree. Service-based tests are async and don't depend heavily on CPU, so mocha-parallel-test's one thread should be okay

< Also testing functions that are running heavier calculations would benefit from threads (more my use case).

Totally agree

Sounds good.

[2016-09-28 16:49] amilajack commented on #52
Do you guys know a good library that makes multithreading easy in node?

[2016-09-28 16:56] F1LT3R commented on #52
I see your point.

- `cluster` https://www.sitepoint.com/how-to-create-a-node-js-cluster-for-speeding-up-your-apps/
- `web-worker-threads` https://www.npmjs.com/package/webworker-threads

[2016-09-28 20:55] 1999 commented on #52
@amilajack what's wrong with native child_process module?

[2016-09-28 21:04] amilajack commented on #52
There are a number of limitations with mutithreaded javascript. But I think we should try using `child_process` before we try using libraries.

[2016-10-02 00:50] k03mad opened #75 "Nothing is displaying in temrinal when using own reporter"
https://github.com/mochajs/mocha/wiki/Third-party-reporters

Trying to use own reporter.
When I ran tests with my reporter by mocha — all fine, when with mocha-parallel-tests — terminal is empty, only retries is showing.

Как повторить:
1. Взять наши регрессионные тесты
2. Положить в корень myrep.js содержащий пример выше
3. package.json — config — reporter заменить на myrep
4. Запустить один тест

[2016-10-02 19:41] 1999 commented on #75
@k03mad приложи пожалуйста пример кода сюда, чтобы можно было воспроизвести. Возможно я перемудрил тут: https://github.com/mmotkina/mocha-parallel-tests/blob/master/api.js#L31

[2016-10-03 09:26] #74 closed

[2016-10-03 09:43] k03mad commented on #75
Ветка customeReporter

npm run issue-mocha
npm run issue-parallel

p.s. да, в курсе, что custom пишется(

[2016-10-03 21:12] 1999 commented on #75
Занятно, но mocha-teamcity-reporter работает ок. Завтра продолжу раскопки

[2016-10-04 05:50] 1999 commented on #75
#76

[2016-10-04 05:56] 1999 commented on #75
Пофиксил в PR и вмержил. Проблема была в том, что mpt не подгружала файлик с репортером, если он был в репозитории. Временное решение - писать как-то так `--reporter ./reprter-file.js`. Как доразберусь с проблемами в мастере (где-то тест валится про время работы), опубликую новую версию

[2016-10-04 05:56] #75 closed

[2016-10-04 09:15] k03mad commented on #75
👍

[2016-10-04 11:15] k03mad opened #77 "Do not retry all file if one of the first level describe is failed"
1. В файле три дескрайба на первом уровне
2. Они выполняются параллельно
3. Если один из них упадёт, то сработает --retry и перезапустит весь файл

Чем плохо: два других дескрайба, рядом с упавшим, выполнятся ещё столько же раз, сколько установлен --retry, даже если с ними всё в порядке.

[2016-10-12 18:12] aubonpain opened #78 "Mocha tap reporter throws exception"
**Issue:** Specifying "tap" as the reporter for mocha-parallel-tests throws a "TypeError: runner.grepTotal is not a function" error.

**Setup:**
Running selenium webdriver tests using Node, Mocha. Versions:
1. mocha-parallel-tests v1.2.2
2. mocha v3.0.2
3. node v6.6.0

**Command:** mocha-parallel-tests test/*.js --max-parallel 5 --slow 3000 --reporter tap
_Note:_ Using mocha (not mocha-parallel-te

[2016-10-13 05:02] 1999 commented on #78
Thank you for posting this issue. Will look at it asap.

[2016-10-14 15:21] aubonpain commented on #78
@1999 Thanks, I'll be keeping a close eye on this. :)

Also, what if I wanted to use another reporter, say mocha-jenkins-reporter? I tried to pass that in through mocha's --reporter option like so:
mocha-parallel-tests test\*.js --max-parallel 5 --reporter mocha-jenkins-reporter -O result.xml
But this didn't work with mocha-parallel-tests. It works fine with mocha, but not with mocha-parallel-test

[2016-10-17 04:14] 1999 commented on #78
@aubonpain from the first look it seems like mocha-jenkins-reporter works closely with runner inside reporter. If I'm not mistaken, this relates closely to current issue though it still would be useful if you create a separate one. In my PR #79 I'm trying to refactor runner to extend mocha runner object, not EventEmitter. Hopefully this will help.

[2016-10-17 15:17] aubonpain commented on #78
@1999 Yes, I can see from the PR that the runner versions aren't the same for mocha and mocha-parallel-tests. Not sure I understand what you mean by "useful if you create a separate one" - happy to create another issue but can you please clarify?

[2016-10-17 20:34] 1999 commented on #78
Yes, I meant exactly this, sorry for being not clear. Hopefully the problem is the same for both this and jenkins-related issue.

[2016-10-20 17:21] alexKazarin opened #80 "mocha-allure-reporter trouble: Cannot read property 'currentTest' of undefined"
Trying to use mocha-parallel-tests  for selenium-webdriver UI-tests and with _--reporter mocha-allure-reporter_, but got a trouble.
Simple example:

[code]

When execute:

webdriver visually starts, open page, quit and successfully generate report with "label name="feature" value="featureName"" as it must be with use of _allure.feature('featureName');_

But when I try:

webdriver doesn't even star

[2016-10-21 08:40] 1999 commented on #80
Thank you for posting issue. From what I see this issue is related to #79 and should be fixed when we merge this PR. Unfortunately there are memory leaks there and PR seems to last a bit longer than I expected, but I hope I will finish it by Monday.

[2016-10-23 14:25] 1999 opened #81 "Issues with jenkins reporter"
https://github.com/mmotkina/mocha-parallel-tests/issues/78#issuecomment-253832704

[2016-10-23 14:26] 1999 commented on #81
cc @aubonpain

[2016-10-24 09:03] alexKazarin commented on #80
Have just tested new variant, unfortunately the same problem. Use console.log in test:
[code]
When use with mocha:
[code]
But when try to use with mocha-parallel-tests - it's empty:
[code]
That's why allure could not be used in test like this: *allure.feature('featureName');*

[2016-10-25 15:30] laggingreflex opened #84 "Doesn't work with --watch?"
It seems it doesn't work with `--watch`. It exits after the first run, doesn't actually wait for file changes...

[node v6.9.0, Win10]

Awesome lib btw!

[2016-10-25 15:44] 1999 commented on #84
Thanks for reporting this! Will take a look as soon as #83 is over.

[2016-10-25 22:42] 1999 commented on #80
The problem seems to be interesting. This is the debug from allure-commons:
[code]

Despite the fact that console.log is happening in random order (why the hell?) it all means that allure.feature was called before "suite" events were fired.

[2016-10-26 10:05] 1999 commented on #80
Okay, I finally figured out what's the problem though I can't find a simple solution for now.

Test code (`it` callback) is executed immediately while mocha-allure-reporter is waiting for runner events (it adds suites when `suite` event is fired and removes when `suite end` occurs). The problem is that mocha-parallel-tests runner's events are throttled for proper `console.log`s and this is the rea

[2016-10-27 18:08] #81 closed

[2016-10-27 18:08] #78 closed

[2016-10-27 18:18] 1999 commented on #67
@mattrlong do you think this is also useful to mocha itself?

[2016-10-28 18:22] k03mad opened #85 "Doesn't work with --no-exit"
В своём кастомном раннере на событие 'end' повесил отправку сообщений в слак.
Чтобы отправка работала использую --no-exit, иначе сообщение не отправляется.
https://github.com/mochajs/mocha/issues/2541

С мокой работает, с параллельной мокой нет.
Чтобы воспроизвести: сделал ветку issueMPT и два скрипта для проверки:

npm run issue-m --target=www --slack=test
npm run issue-mpt --target=www --slack=t

[2016-10-28 20:35] 1999 commented on #85
cc @mmotkina

[2016-10-28 23:05] 1999 commented on #85
Занятная штука. Я по коду моки нашел только упоминание этой опции и тест, связанный с ней, но не собственно сам код, хотя он там несомненно есть. Предполагаю, что если просто убрать `process.exit` из кода mpt, то будет похожее поведение, впрочем надо смотреть и писать код/тесты.

[2016-10-28 23:07] 1999 commented on #85
@k03mad сейчас у тебя есть вариант для обхода этого бага: форкать процесс (`child_process.fork`) на `end`-событие раннера. Таким образом у тебя завершится процесс mpt, но отфорканный процесс, в котором ты и будешь отсылать в слак что тебе надо, будет продолжать работать. Когда Маша (или я) починят этот баг, ты сможешь отказаться от этого костыля.

[2016-10-28 23:10] 1999 commented on #85
@k03mad впрочем если бы и ты подключился, было бы прекрасно вообще.

[2016-10-28 23:20] k03mad commented on #85
👍 спасибо, посмотрю в эту сторону.

Со временем код mpt мне всё меньше кажется неким рокет сайнс, но пока ещё не до конца)
Но локально покопаюсь, да.

[2016-10-29 10:01] 1999 commented on #85
Если будешь готов, напиши тут, я переассайню таск на тебя.

[2016-10-30 20:20] 1999 commented on #80
Just wanted to post this. I have finally implemented some kind of solution (#83) which works only for synchronous runner callbacks:
[code]

The idea is to emit runner events as soon as they appear but intercept all standard streams (stderr & stdout) messages. When test file executing comes to an end (`end` event is fired), get all intercepted messages by test file and output them immediately.

How

[2016-10-31 12:27] k03mad commented on #85
Застрял.

Вот тут https://github.com/veged/mocha-parallel-tests/blob/master/bin/mocha-parallel-tests#L17, судя по https://github.com/mochajs/mocha/pull/1059/commits/8aafaa4953261e9443d4440b042f43541e14bed0 должно было помочь:

[code]

[2016-10-31 12:44] 1999 commented on #85
1) Зачем там nextTick?
2) `argv._.noExit` может?

[2016-10-31 12:47] k03mad commented on #85
2) Условие точно верное:

[code]

[2016-10-31 12:50] k03mad commented on #85
1) Он же там по умолчанию есть

[2016-10-31 13:36] 1999 commented on #85
Кул, тогда давай тест и PR :)

[2016-10-31 13:50] k03mad commented on #85
Означает, что это не помогло :)
В слак сообщение в on 'end' репортера всё равно не уходит.

[2016-10-31 15:36] 1999 commented on #85
![](https://dl.dropboxusercontent.com/u/582455/pics/what-dolphin-thinks-about-that.jpg)

[2016-10-31 15:47] k03mad commented on #85
Я подтупил.
Не ```argv._.exit```, a ```argv.exit```

[2016-10-31 16:28] k03mad commented on #85
https://github.com/veged/mocha-parallel-tests/pull/86
Тест придумаю, как разберусь, как они тут работают

[2016-11-01 13:07] 1999 commented on #85
#87 87

[2016-11-01 14:04] #85 closed

[2016-11-10 03:33] kolontsov opened #88 "bail out after first failed test"
I don't see how I can implement bailing out immediately after first failing test. Even if I pass `--bail` (using `--opts filename.opts`), mocha-parallel-tests stops affected describe(), but continues to execute other suites.

I can modify bin-helper.js to do `customRunner.on('fail', function(e){ this.emit('end', 1); })`, but I'm not sure if it's intended way to do it.

[2016-11-10 06:35] 1999 commented on #88
Well you can see that tests are running in parallel and the problem is that at the moment when one of your tests fail you can have N already running tests. I guess that your approach should work, could you make a PR about it?

@k03mad look for this option, this is probably what you want to use instead of `mocha-steps`, uh?

[2016-11-10 06:36] #67 closed

[2016-11-10 09:45] k03mad commented on #88
`--bail` breaks whole test run.
`mocha-steps` skips next `it`s in describe.
We use hooks for skip all `it`s in the test file.

[2016-11-14 04:14] kolontsov commented on #88
ok, will make a PR.

I guess we just need to be sure that after() is correctly called for such tests?

[2016-11-14 04:33] kolontsov opened #89 "large number of describe()'s"
It seems when number of parallel test grows, the execution time starts growing:

[code]

Is it expected behaviour? I expected about 10-15 second max. Thanks for possible ideas.

[2016-11-14 08:13] 1999 commented on #88
Yes. And also check for exit code. If you need any help about writing tests ping me.

[2016-11-14 08:17] 1999 commented on #89
10 seconds would be super performance yet it's impossible due to own mocha-parallel-tests and mocha's own running code. But 20 seconds should be ok for this, definitely not 2 minutes. Needs investigation @k03mad

[2016-11-14 09:52] k03mad commented on #89
Something strange here. Execution time starts growing with increasing 'it' amount.

[code]

IT = 1: 1 000 passing (real 14.41s)
IT = 5: 5 000 passing (real 37.69s)
IT = 10: 10 000 passing (real 89.05s)

[2016-11-14 12:00] 1999 commented on #89
Could you run this test with original `mocha`?

[2016-11-14 12:09] k03mad commented on #89
**mocha**, IT = 10: 10 000 passing (real **1.42**s)
**mocha-parallel-tests**, IT = 10: 10 000 passing (real **76.37**s)

[2016-11-14 14:23] 1999 commented on #89
Seems like smth is totally broken. @k03mad could you fix that?

[2016-11-14 14:49] k03mad commented on #89
I can try when I find some time for it, but now I don't even have ideas what is going wrong.

[2016-11-15 06:09] kolontsov commented on #89
It seems that all time is spent in this line: https://github.com/yandex/mocha-parallel-tests/blob/master/lib/watcher.js#L209

Once all tests are prepared, they run fast.

[2016-12-01 14:48] 1999 commented on #88
@kolontsov I have finally realised that `--bail` option can work different in mocha and mocha-parallel-tests. Here's the example:

[code]

In first case stats.tests will be equal to 1, stats.suites is also 1, stats.failures is 1 and stats.passes is 0. This happens because `--bail` option prevents running of the next test file. But mocha-parallel-tests launches all tests in parallel which leads to

[2016-12-01 14:51] #88 closed

[2016-12-05 11:44] 1999 opened #91 "Do not retry all file if one of the first level describe is failed"

[2016-12-06 14:14] #77 closed

[2016-12-06 14:24] 1999 commented on #77
2a7d0c590c8ed0dd8587192f2921710d9ee58f5a

[2016-12-06 14:25] k03mad commented on #77
wow 👍

[2016-12-06 14:34] #91 closed

[2016-12-06 17:33] 1999 commented on #84
@mmotkina do you have time for this issue?

[2017-01-23 22:04] jankcat opened #93 "Latest Mocha Version (3.2.x)"
Hello,

What is your roadmap re: supporting the latest versions of mocha?

[2017-01-23 22:11] jankcat opened #94 "--recursive flag not working"
Hello,

It seems that the recursive flag from mocha is not working in this module.

My structure:
Project Folder
-- test (default mocha folder)
---- rootHooks.js
---- Folder 1
------ page1.js
------ page2.js
---- Folder 2
------ page1.js
------ page2.js
------ page3.js

For Mocha, I usually can run the following: "mocha --require babel-register --recursive", which tells mocha to recursively run in

[2017-01-27 15:03] 1999 commented on #93
We try to support at least 2.x and 3.x versions.

[2017-01-27 22:32] 1999 commented on #94
It seems like this is an error. Thank you for posting it. Will take a look soon (2-3 days).

[2017-01-27 23:17] 1999 commented on #94
Seems strange because I can't reproduce your issue in my PR: https://github.com/yandex/mocha-parallel-tests/pull/95
Could you please check the PR or provide the code from your tests which is not running?

[2017-02-01 11:56] Dante1313 opened #96 "--reporter-options flag is not working properly"
Hello,

I trying to use different type of reporters( mocha: xunit, custom: mochawesome, mocha-junit-reporter ) with flag --reporter-options, but seems that this flag is not working properly.

When I run tests by mocha — all works fine.

Example of commands:
- mocha my-test --reporter xunit --reporter-options output=reports/report-mocha.xml
- mocha my-test --reporter mocha-junit-reporter --reporter

[2017-02-02 04:07] 1999 commented on #94
@jankcat ping

[2017-02-02 06:03] jankcat commented on #94
Sorry. I've been out of the office. I'll be back next week and can try again then.

[2017-02-03 13:00] #93 closed

[2017-02-03 13:01] 1999 commented on #96
Thank you. Will take a look on these holidays.

[2017-02-04 12:12] 1999 opened #98 "Fail if mocha version is less than 3"
Currently all mpt tests run against mocha@3 which is set inside devDependencies. We need to run all tests against all supported latest mocha versions (2 and 3).

[2017-02-04 12:13] 1999 commented on #98
@k03mad @mmotkina ребята, если бы вы могли это запилить, было бы очень круто.

[2017-02-04 12:33] 1999 opened #99 "Fix flaky tests with selenium"
https://travis-ci.org/yandex/mocha-parallel-tests/jobs/196035986

[2017-02-04 12:40] 1999 commented on #96
Unfortunately this is the same issue as #80. Bad news here is that this issue is at this time really hard to solve.

[2017-02-13 09:35] 1999 commented on #94
@jankcat one more ping :)

[2017-02-13 17:35] jankcat commented on #94
I threw a repo up here with the issue, as I am still seeing it: [here](https://github.com/jankcat/mocha-parallel-example-issue)

You can see the commands I am running [here.](https://github.com/jankcat/mocha-parallel-example-issue/blob/master/package.json#L6)

And screenshots [here.](https://github.com/jankcat/mocha-parallel-example-issue/tree/master/docs)

1. Running the command to run all the te

[2017-02-21 11:50] kolontsov opened #100 "Fix issue with reloading compiled modules on require() cache reset"
Example below works with `mocha`, but fails with `mocha-parallel-tests` with `Error: Module did not self-register` exception

[code]

The problem: require-cache-watcher resets whole cache, including binary modules, so node.js loads them again using dlopen(). If dynamic library is already loaded (it is), it's initialization function will not be called on second `dlopen()` , so module doesn't call n

[2017-03-02 20:42] #100 closed

[2017-03-07 13:39] kolontsov commented on #89
Any updates on this issue? I understand that due mocha-parallel-test nature, the original loop above actually executes `it()` statement `1000*1000*process.env.IT` times (and not `1000*process.env.IT` times, as standalone mocha), but why it takes so long? May be some mocha internal structures are not cleared between executions, so it grows and become slow?

[2017-03-08 02:05] 1999 commented on #89
Sorry, didn't have time for that in the last month.
@k03mad maybe you will take ownership on this issue?

[2017-03-09 11:08] k03mad commented on #89
@1999

I think you overestimate my js-skills (:

I made several attempts today.
...and it's too rocket science for me right now.

[2017-03-12 12:25] 1999 commented on #89
Только решая сложные задачи сможешь расти над собой :) @k03mad
Попробуй еще раз в свободное время.

[2017-03-13 18:35] JakeSidSmith opened #102 "ReferenceError: xdescribe is not defined"
I've used mocha-parallel-tests on a personal project before now and was pleased with the performance, so I decided to drop it into a project at work.

I didn't realise it was a thing until just now, but apparently you can use `xdescribe()` to completely skip a group of tests (as one of my colleagues has), it's an alias for describe.skip. Mocha-parallel tests however does not seem to handle this.

[2017-03-13 20:58] 1999 commented on #102
@JakeSidSmith thank you for your story. Right now you can use `*.skip` methods in mocha-parallel-tests: all of them are supported. But we will try to add `x*` as well.

@k03mad your turn :)

[2017-03-13 22:53] JakeSidSmith commented on #102
I have already switched to `describe.skip`. Just thought you guys would want to know. :)

[2017-03-13 23:46] 1999 commented on #102
Sure. Thank you!

[2017-03-14 11:05] k03mad commented on #102
By the way, this minor edits adds support for xit/xdescribe:
https://github.com/yandex/mocha-parallel-tests/pull/103

(I think 😃 )

[2017-03-18 04:20] 1999 commented on #102
mocha-parallel-tests=1.2.7

[2017-03-18 04:20] #102 closed

[2017-03-18 04:21] 1999 commented on #99
cc @k03mad @adequatica

[2017-03-26 10:41] 1999 commented on #94
Sorry, now delay is from my side. I can see, will try to fix these.

[2017-04-04 06:21] #94 closed

[2017-04-05 15:27] countergram opened #105 "Errors reported in different test cases"
I don't have a minimal example of this factored out yet, but in our moderate sized integration suite (~15 describes, ~300 tests), with mostly async tests, I am noticing errors being reported with the wrong test case name, or multiple times with different test case names (which can be seen because the traceback is the same under different names).

[2017-04-06 04:53] 1999 commented on #105
Hey @countergram, thank you for posting this out.
Unfortunately without any example this is hard to fix although it seems like you're reusing some variables between different test suites with mocha.
Can you spend some time to decrease this suite to reproducable example?

[2017-04-12 03:24] 1999 commented on #98
Will leave mocha@3 support only.

[2017-04-12 03:27] 1999 commented on #105
@countergram ping

[2017-04-12 12:24] pedgarcia opened #106 "Details about the parallel execution"
This is not really an issue, but I couldn't find the information elsewhere, so I hope it is ok to ask here...

I understand that the level of parallelism is between specs (or files). Is that correct?

For example:

specs/suite_a/file_spec1a.js
specs/suite_a/file_spec2a.js
..
specs/suite_b/file_spec1b.js
specs/suite_b/file_spec2b.js

If I run pointing to specs/* I could see that **suite_a/file_spec

[2017-04-12 12:38] 1999 commented on #106
Hey @pedgarcia. Currently mocha-parallel-tests runs all suites in parallel (i.e. even all `describe`s inside one file will run in parallel). All test cases (`it`) run one after another. This is probably not the ideal behaviour especially because some developers write test files like this:

[code]

But this is current behaviour and it seems like it suits the majority of the tasks.

[2017-04-12 13:27] pedgarcia commented on #106
Hm, ok. Now I understand! The current behavior is actually ideal for me as well. I might have some nested describes but this can probably be easily changed.

Thanks a lot. This is a great and useful project!

[2017-04-12 15:14] jankcat commented on #94
Ah okay. I dont remember what my use case was (oops).

Thanks! The cats are not mine, but I do have 3 others that didnt make the pic.

[2017-04-12 21:31] 1999 commented on #106
@pedgarcia thanks for nice words mate :)

[2017-04-12 21:31] #106 closed

[2017-04-14 01:21] 1999 commented on #65
@k03mad у тебя нет времени посмотреть эту багу самому?

[2017-04-14 01:41] #98 closed

[2017-04-14 13:25] k03mad commented on #65
Со свободным временем совсем беда, возможно доберусь как-нибудь.
Баг не критичный — больше никто не отписался, а нам, вроде, уже и не надо...)

[2017-04-18 14:04] artemyarulin opened #108 "Cannot limit paralell test"
Hi, for some reason `max-parallel` settings have no affect for me. Am I doing something wrong?

mocha": "^3.2.0",
mocha-parallel-tests": "^1.2.8"

test.js
[code]

test2.js
[code]

[code]

[2017-04-19 00:21] 1999 commented on #108
Thanks for posting the issue @artemyarulin. Will take a look at this today.

[2017-04-19 12:24] 1999 commented on #108
Yep, that's a bug. The reason for this is that mocha-parallel-tests originally supported only one describe per file: https://github.com/yandex/mocha-parallel-tests/blob/master/lib/watcher.js#L277
Will try to fix this as well.

[2017-04-21 01:26] 1999 opened #109 "Add windows tests"
Use appveyor for this
https://ci.appveyor.com/project/insin/nwb

[2017-04-24 18:45] pedgarcia commented on #106
@1999 I hope you still see this since it is closed... What happens when you have nested describes in terms of parallelization?

Imagine the following scenario:
[code]
Will A B C and D run in parallel, or A and B will, then C and D will, but only after A and B?

If you have better examples, please point me at them

Thanks

Paulo

[2017-04-24 22:09] 1999 opened #110 "Parallel execution cases with deeper suites"
Copied from #106 (original comment by @pedgarcia)

@1999 I hope you still see this since it is closed... What happens when you have nested describes in terms of parallelization?

Imagine the following scenario:
[code]
Will A B C and D run in parallel, or A and B will, then C and D will, but only after A and B?

If you have better examples, please point me at them

Thanks
Paulo

[2017-04-24 22:10] 1999 commented on #106
@pedgarcia I created a separate issue for this, let's discuss it there: #110

[2017-04-24 22:16] 1999 commented on #110
@pedgarcia that's an interesting case since when `mocha-parallel-tests` has been started we didn't think of this case. Instead I was thinking only of the simpliest cases like one describe() per file or couple of them on the same level of depth. Only these cases are covered with tests and I can't even predict what's the mocha-parallel-tests behaviour for deeper cases.

Let's try to think on how thi

[2017-04-26 19:51] pedgarcia commented on #110
I guess the whole issue is that I use `describes` not only to organize the suites but also as scope for variables and/or before/after hooks. My expectation on the scenario I gave is to have all its running in parallel....

But, I think it is a good feature to have same-level describes to be executed in series but not in parallel, like mocha-parallel-tests does today, so the only thing I can think

[2017-04-26 20:37] pedgarcia commented on #110
@1999 I think the following is a more realistic example on how I write the tests:

[code]
So with this example above, I can see there is no parallel execution at all, as the full test takes 30 secs.

Maybe a clear behaviour (if possible) would have `Test suite #1A` and `Test suite #1B` running in parallel as they are at the same level. Also, the suites #2 and #3 (at root level) could be running.

[2017-04-27 00:48] 1999 commented on #110
correct

[2017-04-27 00:49] 1999 commented on #110
cc @k03mad @kolontsov @mmotkina guys please take a look at discussion here and tell what you think.

[2017-04-27 09:37] dharmakrish6 opened #111 "Installation error occurred while install on local (windows)"
**Command**
`npm install --save-dev mocha-parallel-tests mocha
`
**Error Log**
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\dharma\\AppData\
\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "mocha-parallel-tes
ts" "mocha"
npm ERR! node v6.3.1
npm ERR! npm  v4.0.2

npm ERR! Unexpected token D in JSON at position 0
npm ERR!
npm ERR! If you

[2017-04-27 10:50] 1999 commented on #111
@dharmakrish6 thank you for the issue. Currently mocha-parallel-tests was not tested on windows. However we have plans for this: #109

[2017-04-27 12:19] dharmakrish6 opened #113 "mochawesome reporter not supporting"
`mocha-parallel-tests --reporter mochawesome <test-folder>`

mochawesome report not supported by mocha-parallel-tests. Please tell which reporter it will support

[2017-04-27 12:57] k03mad commented on #110
I think that parallelization inside one file is not good way at all.
If test so capacious, that it need to run it parts in parallel, such parts should be in separate independent files.

This seems to be less confusing, less flaky and complies with the best practices "small + atomic + autonomous".

[2017-04-27 21:33] 1999 commented on #113
@dharmakrish6 thank you for posting issue. Currently mocha-parallel-tests supports all mocha native reporters and experimentally some of the custom (look https://github.com/yandex/mocha-parallel-tests/tree/master/test for "reporter"). I will try to take a look at this.

[2017-04-27 21:37] 1999 commented on #113
However I can't see the reason for this reporter to not work. Can you send example of the output and what's not working in your case?

[2017-04-28 06:27] 1999 commented on #110
@k03mad that also makes sense.
@pedgarcia what do you think of this approach? Like "if you want to run your tests in parallel, adjust your test files to contain simplier code"

[2017-04-28 09:12] iamcxy commented on #113
Here's the stack-trace:

/usr/local/lib/node_modules/mocha-parallel-tests/dist/lib/reporter.js:124
            throw new Error(`Invalid reporter "${this._options.reporterName}"`);
            ^

Error: Invalid reporter "mochawesome"
    at AbstractReporter._setReporterOnce (/usr/local/lib/node_modules/mocha-parallel-tests/dist/lib/reporter.js:124:19)
    at new AbstractReporter (/usr/local/lib/nod

[2017-04-28 12:13] pedgarcia commented on #110
@1999, I spent more time thinking about my suggestion and reviewing my test code and I have to agree that it would turn everything way to complicated. I agree the approach to simplify the tests makes more sense....

[2017-04-29 20:09] countergram commented on #105
Hi. Here is a minimal example with code + output. All test cases are async using "done", and exactly one failing case ends up being reported multiple times.

[code]

Output varies, but here is some sample output:

[code]

[2017-05-01 07:01] 1999 commented on #113
Are you sure that you have `mochawesome` installed alongside with mocha-parallel-tests? Is it installed globally? Do you run your tests on windows?

[2017-05-03 05:53] 1999 commented on #113
@iamcxy ^

[2017-05-03 06:15] iamcxy commented on #113
@1999  tests are ran on linux env. mochawesome and mocha-parallel-tests are both defined in projects' package.json file, not globally. It seems that mocha-parallel-tests only support out of package mocha reporters:
    dot - dot matrix
    doc - html documentation
    spec - hierarchical spec list
    json - single json object
    progress - progress bar
    list - spec-style listing
    tap - tes

[2017-05-03 09:31] 1999 commented on #113
That's not right. I double-checked this and there's a problem with support for mochawesome. I will try to find the reason for this asap.

![image](https://cloud.githubusercontent.com/assets/73191/25655083/fee7d936-3036-11e7-8b1a-90b40f4ca41c.png)

[2017-05-03 09:36] iamcxy commented on #113
Thanks! @1999

[2017-05-04 21:11] 1999 commented on #113
Okay, it seems like there's one more internal mocha API which I missed. Currently we support callback with failures number but not the done() callback.
[code]

[2017-05-05 01:53] 1999 commented on #113
@iamcxy mocha-parallel-tests=1.2.9 contains this fix
https://github.com/yandex/mocha-parallel-tests/commit/6058b2fb2dd47269445638704651158beb6f2edb

[2017-05-05 02:21] dharmakrish6 commented on #113
Still same error
[code]

$mocha-parallel-tests --reporter mochawesome ./test
C:\Users\dharma\AppData\Roaming\npm\node_modules\mocha-parallel-tests\dist\lib\r
eporter.js:128
            throw new Error(`Invalid reporter "${this._options.reporterName}"`);

            ^

Error: Invalid reporter "mochawesome"
    at AbstractReporter._setReporterOnce (C:\Users\dharma\AppData\Roaming\npm\no
de_modules\

[2017-05-05 02:36] 1999 commented on #113
@dharmakrish6 I double-checked this on my mac and it's working. May be related to windows, since currently mocha-parallel-tests is not windows-tested. Can you clone this gist and run tests from README on your computer? https://gist.github.com/1999/9ea881310f33f47aefb23bb32a8996c8

[2017-05-05 02:42] dharmakrish6 commented on #113
@1999 .Now report generated, But the Report is empty. Are you able to view the Mochawesome html report ?

[2017-05-05 05:00] dharmakrish6 commented on #113
@1999 .It generates the report but html is empty . usually the mochawesome will create `mochawesome-reports` for reports . But when i run with mocha-parallel-test, it creates `mochawesome-report` . HTML report is empty

[2017-05-05 05:12] dharmakrish6 commented on #113
@1999 Not fetching all the details from the test to generate report.

[2017-05-05 12:00] 1999 commented on #113
Okay, I found the reason for this. Runner in mocha and runner in mocha-parallel-tests contain different suites. This is about mocha:

![image](https://cloud.githubusercontent.com/assets/73191/25744590/078d11ca-31de-11e7-882f-d9f134e1b150.png)

And this is about mocha-parallel-tests:

![image](https://cloud.githubusercontent.com/assets/73191/25744608/1c40b6f8-31de-11e7-8a65-36579b7dd367.png)

Proba

[2017-05-05 12:03] 1999 opened #115 "Runner doesn't have information about suites"
Copied from https://github.com/yandex/mocha-parallel-tests/issues/113#issuecomment-299446681

Okay, I found the reason for this. Runner in mocha and runner in mocha-parallel-tests contain different suites. This is about mocha:

![image](https://cloud.githubusercontent.com/assets/73191/25744590/078d11ca-31de-11e7-882f-d9f134e1b150.png)

And this is about mocha-parallel-tests:

![image](https://clou

[2017-05-05 12:38] 1999 commented on #115
It seems like what we need to do is to add suite from lib/watcher.js#scheduleMochaRun to runner singleton instance. The controversial part here is that for mocha all suites are just array members, but for mocha-parallel-tests they run in parallel and it's not clear how we should add them.

Smth like this is a good start:
[code]

[2017-05-09 19:42] darobin opened #116 "Miscellaneous errors"
I'm sorry to report these errors basically in a bundle: I can't seem to get a successful run of this module over my test suite, and as a result it is hard to figure out what exactly is causing these errors. If I can assist in narrowing down their triggering conditions, please simply ask.

On every start, I get:

[code]

If I set `--max-parallel` to `1`, the first error disappears. The second error

[2017-05-09 22:47] 1999 commented on #116
@darobin thank you for posting issue. That's kinda strange. How many test files do you have?

[2017-05-10 13:05] darobin commented on #116
I have about 60. Some are pretty intense. One thing that may be related: almost all of them spawn processes at one point or another. Another potential indication: they all import a library that when constructed does (amongst other things):

[code]

Normally this increases the maximum listeners enough to not get a warning, but it may be interacting.

[2017-05-12 10:26] kiran-z commented on #113
It seems data generated by mocha-parallel-tests is not correct.
for instance it shows pass percent as null  below.

[code]

[2017-05-13 09:22] 1999 commented on #113
@kiran-z this is all about #115

[2017-06-14 21:13] 1999 commented on #110
UPD: The final idea is to run all files + all **flat** suites in these files in parallel.

[2017-06-14 22:27] k03mad commented on #110
Will it be optional?
I think it will break many mpt-users tests (not only kp:))

[2017-06-15 00:21] 1999 commented on #110
This will be a new major version of mocha-parallel-tests, not an option.

[2017-11-03 11:02] furstenheim opened #119 "It does not accept --no-timeouts"
It is not able to use no-timeouts parameter

[2017-11-04 06:08] 1999 commented on #119
Thanks for posting this issue. I'm not sure what does this option do, because the docs are a bit mean here:

How do you actually use it?

[2017-11-05 20:31] furstenheim commented on #119
Thanks for you quick reply. I use it mainly for long integration test where timeout is something more complicated than just a fixed number.

I will try to add it myself. I see that you are calling mocha here https://github.com/yandex/mocha-parallel-tests/blob/b8fd284a690e1b4942d0b2ff894eff94b9c332c7/lib/watcher.js#L80 but you don't seem to be passing any options.

[2017-11-05 22:18] 1999 commented on #119
Yep, if you can send a PR, that would be even better

[2017-11-08 00:07] #119 closed

[2017-12-07 08:11] FelixZilber commented on #80
Anyone have a solution for executing in parallel with allure reporter?

[2017-12-16 01:04] sberserker opened #121 "Question: global before/after support"
Does this lib support global before and after hooks?
In regular mocha if before and after are outside the describe block they becoming global hooks means they run before and after all the tests in all the suites.
This seems doesn't work for this library. Is there anyway to achieve this behavior? I need to setup tokens in before hook to use them in all the test cases.

[2017-12-16 22:23] 1999 commented on #121
Yes, you can do this with `--require` mocha option. Files which you specify in this option will be executed before parallel tests.

[2017-12-18 18:48] sberserker commented on #121
In general it'll work but I'm not sure how to achieve the following.
I'm using mocha for api testing so i have to supply oauth token with every api call.

in the global before I can asynchronously get the token and set global request defaults

[code]

with mocha --require i'll have to resolve the token in every describe file. Is there any better option to achieve the former behavior? essentially g

[2017-12-19 04:22] 1999 commented on #121
If I understand you correct, this is what you need:

CLI: `mocha-parallel-tests --require base.js test/`
base.js
[code]
describe('suite', () => {
  const req = request.defaults({ headers: { Authorization: `Bearer ${global.token}` } });

  it('case', () => {
    req(...);
  });
})

[2017-12-19 18:25] sberserker commented on #121
That's right.
The only issue seems like you cannot call any of mocha before, it, describe in require(d) files.
Tried to trick it but didn't work. Either getting before is undefined or before is not a function
var Mocha = require('mocha');
var before = require('mocha').before.

[2017-12-20 03:04] 1999 commented on #121
Gotcha. Double checked that, mocha doesn't wait until --require'd file finishes its execution, so in your case the quick way to get things done is this hack:

[code]

[2017-12-21 08:55] sberserker commented on #121
That will work. The only inconvenience we'll have to have before for each describe but seems like there is no any other easy way.

What about global after? Any suggestions how to achieve that?

[2017-12-21 11:53] 1999 commented on #121
Nope, no easy way for now. I think it would be better to leave this issue open so that we can think of a better solution when we have time for that.

[2018-01-23 23:04] gingur commented on #121
https://mochajs.org/#delayed-root-suite ?

[2018-02-02 10:33] vogloblinsky opened #122 "Question : upgrade peerDependency of mocha"
Is it possible to upgrade the peerDependency of mocha to version 4 or 5 ?

[2018-03-12 12:10] 1999 opened #123 "Enable Greenkeeper for repo"
Greenkeeper brings safety & consistency to npm with real-time monitoring and automatic update testing for your dependencies. It's super convenient for OSS node projects.

Unfortunately I'm not an admin of org so I can't enable it for this repo.
https://github.com/greenkeeperio/greenkeeper/issues/324

[2018-03-12 12:11] 1999 commented on #123
@veged @dfilatov @arikon guys, can you please enable Greenkeeper for this repo?

[2018-03-14 21:50] veged commented on #123
@1999 https://github.com/yandex/mocha-parallel-tests/settings/collaboration says that you already admin here ;-)

[2018-03-14 23:04] 1999 commented on #123
I am. The problem is that only org admins can add external integrations like this to repos afaik.

[2018-03-15 13:45] veged commented on #123
ok, done

[2018-03-15 13:45] #123 closed

[2018-03-15 22:26] 1999 commented on #123
^_______^

[2018-03-16 22:08] greenkeeper[bot] opened #125 "An in-range update of eslint is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.19.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/yandex/mocha-parallel-tests/compare/greenkeeper%2Feslint-4.19.0">Build fa

[2018-03-17 05:08] #125 closed

[2018-03-18 05:05] 1999 opened #126 "Plan for mocha-parallel-tests release v2"
All of these thing are subject to v2 release of mocha-parallel-tests. Some of these things can be postponed however this is a core of release.

- [x] Support mocha peerDependencies 3-5 (#122)
- [x] Specify concurrency behaviour (#89, #108, #110, #115, #116)
- [x] Parallel mode: running mocha tests on multiple cores (#66, #80, #96)
- [x] Mimic mocha CLI behaviour by passing flags (#84)
- [x] Invest

[2018-03-22 02:36] greenkeeper[bot] opened #127 "An in-range update of eslint is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.19.1** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/yandex/mocha-parallel-tests/compare/greenkeeper%2Feslint-4.19.1">Build fa

[2018-03-23 10:53] #127 closed

[2018-03-27 13:27] greenkeeper[bot] opened #128 "An in-range update of mocha-jenkins-reporter is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **0.3.11** of [mocha-jenkins-reporter](https://github.com/juhovh/mocha-jenkins-reporter) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/yandex/mocha-parallel-tests/compare/green

[2018-03-30 05:43] #128 closed

[2018-04-10 02:11] rossanthony opened #129 "Run test files/suites in parallel (not describes within them)"
Based on the options available today with `mocha-parallel-tests` is it possible to run a series of test files/suites in parallel? In other words; make it execute each of the describes inside each file/suite consecutively, but would run multiple test files/suites simultaneously?

The reason I ask is that we have some describes inside certain test suites that need to happen in order otherwise they w

[2018-04-10 06:37] 1999 commented on #129
Currently this files/suites behaviour is not well documented. I'm working on v2 which should run all top level describes in parallel. But maybe it's worth it to add an option to run just files in parallel.

[2018-04-13 11:10] sanjayprop opened #130 "Opens 3 browsers per test file, even if i have 1 Testcase in each file."
Don't understand the behavior,  I tried with different versions of it.Same response every time.Only execute the script in one browser per file, rest of the browsers are free.Also, driver.quit() quits only browser, which executed script.

[2018-04-13 12:14] 1999 commented on #130
@sanjayprop hey, can you please show the code of your test so we can investigate what's the issue?

[2018-04-13 12:35] sanjayprop commented on #130
Filename: test.js

'use strict'

var webdriver = require('selenium-webdriver'),
    By = webdriver.By,
    until = webdriver.until
var test = require('selenium-webdriver/testing')
var driver = new webdriver.Builder().forBrowser('chrome').build()

 test.describe('Demo Search', function(){
 this.timeout(10000);

  test.it('should work1', function()  {
   driver.get('http://www.google.com/')
  })

[2018-04-18 10:34] greenkeeper[bot] opened #131 "An in-range update of mocha-teamcity-reporter is breaking the build 🚨"
## Version **2.3.0** of [mocha-teamcity-reporter](https://github.com/travisjeffery/mocha-teamcity-reporter) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/yandex/mocha-parallel-tests/compare/master...yandex:greenkeeper%2Fmocha-teamcity-reporter-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2018-04-18 12:44] #131 closed

[2018-05-04 08:50] qatechniker opened #132 "Run tests recurcively"
I am using mocha with option --recursive to run all tests in all directories.
It does not work with mocha-parallel-test

my command looks like: ./node_modules/.bin/mocha-parallel-tests --reporter mocha-multi-reporters --max-parallel=1 --timeout=12000 -- recursive ./dist-rest/src
I am getting
AssertionError [ERR_ASSERTION]: No test files found

Is it possible to fix it? Or let me know what I am doi

[2018-05-04 14:51] vlaad360 opened #133 "Issues with --require and mocha@4 support"
**package.json**
`"test:coverage": "DEBUG_PORT=9998 NODE_ENV=test nyc mocha --opts './mocha.opts'"`

**mocha.opts**
[code]

Try 1:
[code]

jsdom-global is in dependencies
and without nyc it doesn't work either

[2018-05-05 00:35] greenkeeper[bot] opened #135 "An in-range update of mocha-teamcity-reporter is breaking the build 🚨"
## Version **2.4.0** of [mocha-teamcity-reporter](https://github.com/travisjeffery/mocha-teamcity-reporter) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/yandex/mocha-parallel-tests/compare/master...yandex:greenkeeper%2Fmocha-teamcity-reporter-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      De

[2018-05-05 10:59] 1999 opened #136 "Support for mocha-multi reporter"
https://www.npmjs.com/package/mocha-multi

#134

[2018-05-05 11:00] 1999 commented on #133
Hi @vlaad360, thank you for posting the issue. What `mocha` version are you using?

[2018-05-07 14:41] vlaad360 commented on #133
@1999
mocha "4.1.0"

[2018-05-17 00:21] 1999 opened #139 "Support new OSX Touch Bar"
This could be a nice feature to have as Touch Bar is basically a second screen. While mocha runs all tests one by one, mocha-parallel-tests does this in parallel in separate processes (v2), so that you don't know which test has finished and when. Showing passed/failed tests in a Touch Bar as well as showing a big red "stop processing tests" button would be a great improvement for us.

Related issu

[2018-05-18 04:43] jain-neeeraj opened #140 "Unable to install mocha-parallel-tests module on windows"
Hi,

As per the readme file, I have tried installing this module for me but getting an error. Not sure if I am doing anything wrong as I am able to install other packages easily.

[code]

Dependencies in my package.json are:

[code]

[2018-05-18 05:15] 1999 commented on #140
@jain-neeeraj hey, you came right in because v2 is almost here and I'm working on windows builds for it. I just published `mocha-parallel-tests@2.0.0-alpha.3`. Can you try if it works for you?

[2018-05-20 22:10] 1999 commented on #136
According to https://github.com/yandex/mocha-parallel-tests/pull/137#issuecomment-387578107 everything is fine here

[2018-05-20 22:10] #136 closed

[2018-05-20 22:11] 1999 commented on #122
The latest mocha-parallel-tests version supports mocha versions 3-5

[2018-05-20 22:11] #122 closed

[2018-05-20 22:11] 1999 commented on #111
Should be fixed now.

[2018-05-20 22:11] #111 closed

[2018-05-20 22:12] 1999 commented on #62
mocha-parallel-tests@v2 runs all tests in separate processes so this is fixed now.

[2018-05-20 22:12] #62 closed

[2018-05-22 01:28] 1999 commented on #140
Should be okay in v2.0.0

[2018-05-22 01:28] #140 closed

[2018-05-22 01:29] 1999 commented on #133
@vlaad360 can you please double check if that's still an issue on mocha-parallel-tests@2.0.0?

[2018-05-22 03:18] GSangQin opened #142 "Why type == 'stderr' and event == undefined ? async/await"
{ execTime: 63554,
  file: 'app.js',
  output:
   [ { data: {}, event: 'start', type: 'runner' },
     { data: [Object], event: 'suite', type: 'runner' },
     { data: [Object], event: 'suite', type: 'runner' },
     { data: [Object], event: 'hook', type: 'runner' },
     { data: [Object], event: 'hook end', type: 'runner' },
     { data: [Object], event: 'test', type: 'runner' },
     { data: [Ob

[2018-05-22 04:37] jain-neeeraj commented on #140
@1999 can you please help me how to try this new version?

[2018-05-22 04:39] jain-neeeraj commented on #140
Was able to install alpha module. Thanks for the help

[2018-05-22 04:51] 1999 commented on #142
@GSangQin can you provide an example how to reproduce the error?

[2018-05-22 09:34] k03mad opened #143 ""Unhaldled asynchronous exception: Couldn't find test or hook by id" after test retry"
"mocha": "5.2.0",
"mocha-parallel-tests": "2.0.0"

Catching "unhaldled asynchronous exception" with `--retries` parameter or `this.retries` inside describe after test retry.

`test-01.js`

[code]

[code]

[code]

[2018-05-22 09:53] 1999 commented on #143
🤦‍♂️ right, I added a test which checks that the third run is okay but I forgot to check that all 3 runs failed: https://github.com/yandex/mocha-parallel-tests/tree/master/test/retries

[2018-05-22 11:20] k03mad opened #145 "mocha-parallel-tests run prints tests log after they all ended"
"mocha": "5.2.0",
"mocha-parallel-tests": "2.0.0"

`test-01.js test-02.js`

[code]

[code]

**mocha prints:**
[code]
_wait 10s_
[code]
**mocha-parallel-tests v2 prints:**
_wait 10s_
[code]
**mocha-parallel-tests v1 prints:**
[code]
_wait 10s_
[code]

[2018-05-22 11:27] k03mad commented on #145
Если тестов много — непонятно, что происходит и происходит ли вообще.
В v1 тесты уже можно было начать разгребать, т.к. были видны все падения до конца тестов, либо остановить, если что-то пошло не так.

[2018-05-22 12:54] 1999 commented on #145
Про непонятно что происходит - это можно поправить. За это сейчас отвечает TaskManager:
https://github.com/yandex/mocha-parallel-tests/blob/master/src/main/mocha.ts#L96
https://github.com/yandex/mocha-parallel-tests/blob/master/src/main/task-manager.ts

Просто сейчас его метод run() возвращает промис, после ресолва которого начинается вывод чего-то репортерами. Можно это исправить, используя его к

[2018-05-22 12:55] 1999 commented on #129
Sorry for silence. v2 is here, changelog should be up to date.

[2018-05-22 12:55] #129 closed

[2018-05-22 12:56] #99 closed

[2018-05-22 12:56] 1999 commented on #66
v2.0.0 is all about this.

[2018-05-22 12:56] #66 closed

[2018-05-22 13:36] 1999 opened #146 "--exit option is not working (?)"

[2018-05-22 17:38] k03mad commented on #145
Ok, попробую на днях

[2018-05-22 21:36] 1999 opened #147 "Show uncaught exceptions from subprocesses (subprocess for file didn't send and "end" message)"
Currently if exception occurs inside the subprocess the main process just shows this weird error. We need to 1) show the subprocess error, 2) terminate other subprocesses, 3) ideally show the subprocess output before the error occured

[2018-05-23 13:45] #146 closed

[2018-05-23 14:07] #143 closed

[2018-05-25 23:32] k03mad commented on #145
@1999 не выходит слон

промис выпилить — не сложно оказалось https://github.com/yandex/mocha-parallel-tests/pull/151
но дальше упираюсь в раннер, нужно как-то только прошедший тест вывести в консоль, через setTestResults, видимо, но там начинает падать всё подряд в общем... :)

я сдаюсь

[2018-05-26 02:49] 1999 commented on #145
Хм, ну, выпилить - это не главная задача ведь :) Но начал ты в правильном направлении.
Смотри, во-первых чего у нас должно получиться:

1) TaskManager уже сам по себе EventEmitter, то есть нам нужно просто эмиттить нужные события в нужное время. Сейчас эмиттятся `processingFinished` и `end`. Этого на самом деле уже достаточно. Эмиттить `runFinished` вряд ли нужно, поскольку уже есть 'end'.
2) Нужн

[2018-05-26 11:18] k03mad commented on #145
2. taskFinished — ок, я правда пробовал вытащить processingFinished наружу и подписываться на него. onFinishedProcessing переписывал, потому что там тогда возвращается не массив, ибо таск один, и промис резолвить не надо. Проблема именно в том, чтобы результаты собственно вывести.

ts — отдельная боль... :)

Попробую ещё.

[2018-05-26 12:52] 1999 commented on #145
Если тебе больно дебажить, вот два лайфхака с TS:

1) `ts-node src/bin/cli.ts <file.spec.js>` - запускает тесты как будто `mocha-parallel-tests <file.spec.js>`, только тебе не надо его перекомпиливать
2) `node -r ts-node/register --inspect-brk dist/bin/cli.js <file.spec.js>` - запускает ноду в режиме пошаговой отладки и ставит на паузу. Отладчик в chrome://inspect можно открыть

[2018-05-26 22:48] k03mad commented on #145
Намудрил с PR, открыл новый: https://github.com/yandex/mocha-parallel-tests/pull/152
Хм, даже работает.

[2018-05-27 22:08] 1999 commented on #52
Not sure about the performance comparison but I finally made it:
https://github.com/yandex/mocha-parallel-tests/wiki/Comparison-with-mocha.parallel
https://github.com/yandex/mocha-parallel-tests#comparison-with-mochaparallel

[2018-05-27 22:08] #52 closed

[2018-05-27 22:08] #126 closed

[2018-05-27 22:09] 1999 commented on #89
@kolontsov can you try mocha-parallel-tests@v2 and say if it's still a case for you?

[2018-05-27 22:09] #110 closed

[2018-05-27 22:09] 1999 commented on #116
@darobin  can you try mocha-parallel-tests@v2 and say if it's still a case for you?

[2018-05-27 23:02] kolontsov commented on #89
@1999 thanks for mention, I'll test and report.

[2018-05-27 23:13] k03mad commented on #145
@1999 🎁

Правки и тест: https://github.com/yandex/mocha-parallel-tests/pull/154
Тест проверил до правок и после.

[2018-05-28 07:08] mpreethi90 commented on #126
@1999  , Does the latest release contains support to mochawesome? I still have same empty html issue.

[2018-05-28 09:44] 1999 commented on #126
Not sure, I haven't checked it yet. Let's track this down in #113

[2018-05-28 10:40] 1999 commented on #115
This is fixed in v2

[2018-05-28 10:40] #115 closed

[2018-05-28 10:44] #113 closed

[2018-05-28 10:51] 1999 commented on #113
@kiran-z thank you for pinging me. This thing was not fixed with 2.0.0 release however it was pretty easy to fix this now. I'm waiting for the last PR and then I will publish a 2.0.1 version which will contain the fix for `mochawesome` reporter as well. Should happen in 2-3 days, I will mention you here.

[2018-05-28 21:50] #80 closed

[2018-05-28 21:51] 1999 commented on #80
This issue is fixed in master. The new release is coming in the next few days.

[2018-05-29 00:48] 1999 opened #155 "Investigate re-using forked processes"
Forking child processes in node is an expensive operation. Also, subprocesses don't have a shared cache between each other. And if the test is using some `--require` code or just requires some massive data from the other file it can be a nice bonus to re-use already forked process.

Pros:
- forking fewer processes can increase the speed of tests
- re-using cache can increase the speed of tests

Co

[2018-05-29 00:49] 1999 commented on #155
cc @k03mad

[2018-05-29 07:20] vlaad360 commented on #133
Yea, it's just freezing, and do nothing, even if i choose only one test.

[2018-05-29 10:29] 1999 commented on #133
@vlaad360 what `mocha-parallel-tests` version did you try? Can you try it with the latest one (2.0.0)?

[2018-05-29 23:54] 1999 commented on #132
@qatechniker can you please try that with the latest (2.0.0) version of `mocha-parallel-tests`?

[2018-05-30 21:09] 1999 commented on #133
Okies, I will try to reproduce your issue in a separate repo.

[2018-05-30 22:07] #145 closed

[2018-05-30 22:52] #147 closed

[2018-05-31 03:51] #135 closed

[2018-05-31 06:38] vlaad360 commented on #133
1. Part of my **package.json**
[code]
**mocha.opts**
[code]
2. Stack Trace after lauching
[code]

Test is only one file, that include 20 scenarios.

[2018-05-31 06:42] vlaad360 commented on #133
If i remove --require src/js/testHelper.js
[code]

[2018-05-31 07:50] 1999 commented on #133
Ah, that's better. This one is fixed in upcoming 2.1.0, I will mention you whenever it's published.

[2018-05-31 09:10] jain-neeeraj opened #156 "Support for mochawesome reporter is missing"
Hi,

I am using mochawesome as the reporter and I am getting below exception.

[code]
Please be informed that mochawesome is one of the most famous reporters for mocha

[2018-05-31 09:45] 1999 commented on #156
Hi @jain-neeeraj, thank you for posting the issue.

As for mochawesome:

1. `mochawesome` is not one of mocha internal reporters which means you need to add it to your dependencies
2. There was still a bug in mocha-parallel-tests@2.0.0 with `mochawesome` but it's already fixed in master branch. The new version will be released in 2-3 days, I will mention you here.

[2018-05-31 11:43] 1999 commented on #142
The problem is probably related to subprocess crashing before sending an "end" message. This is fixed in mocha-parallel-tests@2.0.1

[2018-05-31 11:43] #142 closed

[2018-05-31 11:44] 1999 commented on #80
@FelixZilber @alexKazarin sorry for a long wait. This issue is fixed in mocha-parallel-tests@2.0.1.

[2018-05-31 11:45] 1999 commented on #113
@kiran-z @dharmakrish6 @iamcxy sorry for a long wait. This issue is fixed in mocha-parallel-tests@2.0.1 which has just been published.

[2018-05-31 11:47] 1999 commented on #156
mocha-parallel-tests@2.0.1 has just been published. Follow by advice from above (regarding dependencies) to make it work

[2018-05-31 11:47] #156 closed

[2018-05-31 11:48] #130 closed

[2018-05-31 11:49] 1999 commented on #108
mocha-parallel-tests@2 runs each file in parallel so this issue is not actual anymore.

[2018-05-31 11:49] #108 closed

[2018-05-31 11:50] 1999 commented on #96
Reporters behaviour is fixed in mocha-parallel-tests@2

[2018-05-31 11:50] #96 closed

[2018-05-31 11:51] 1999 commented on #65
mocha-parallel-tests@2 runs each file in parallel, so this issue should now be fixed as well.

[2018-05-31 11:51] #65 closed

[2018-05-31 12:40] theKashey commented on #155
I personally will wait for test competition, wait `timeout` more, and then 🔥 process, as long mocha does not have before/after all hooks, and if something did not die itself - it will never die.

The second option - spin another process, when mocha is _done_ in the current one, not then runner _exits_.

[2018-05-31 12:53] 1999 commented on #155
That's a new behaviour which is not typical for `mocha`. Our idea was to be compliant with `mocha` behaviour as much as we can 🤷‍♂️

[2018-06-01 02:29] 1999 opened #158 "Early subprocess crash logs should not be hidden"
Currently if subprocess crashes early (let's say npm dependencies have been downloaded and built with node v6, then we decided to switch to node v8 and then we launched the tests) we don't see the logs: the output is empty and exit code is not zero. This is not very useful. We need to:

- show logs
- add debug logs to TaskManager events handlers

[2018-06-01 06:26] kiran-z commented on #113
@1999 Thanks! will check it out.

[2018-06-02 03:30] #158 closed

[2018-06-04 21:27] 1999 commented on #133
@vlaad360 this is fixed in the latest (2.0.2) version. Can you try it and say if it helps?

[2018-06-04 21:28] 1999 commented on #116
Closing as non-answered after a week.

[2018-06-04 21:28] #116 closed

[2018-06-06 07:03] megolee opened #161 "When run mocha-parallel-tests 2.0.2 get SyntaxError"
env: Mac + mocha-parallel-tests 2.0.2 + mocha 3.5.3
command: mocha-parallel-tests --reporter mochawesome --max-parallel 10 --retry 1 ./Test/Login

result: `async startTaskProcessing(task) {
          ^^^^^^^^^^^^^^^^^^^

SyntaxError: Unexpected identifier
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:549:28)
    at Object.Module._e

[2018-06-06 11:00] qatechniker commented on #132
@1999 works now, thanks!

[2018-06-07 01:10] #132 closed

[2018-06-07 01:12] 1999 commented on #161
Hey @megolee, thanks for posting the issue. First of all I believe you're using the old version of mocha-parallel-tests: `--retry` option is not supported in the latest mocha-parallel-tests. Second: if you run this code with `mocha` does it work?

[2018-06-07 02:28] megolee commented on #161
@1999 Thanks for your response :)

First: I still got the same error when I removed --retry option with command -> mocha-parallel-tests --reporter mochawesome --max-parallel 10 ./Test/Login

Second: mocha works for me. With command mocha --reporter mochawesome  ./Test/Login

When run npm list -g -depth=0, I get below

/usr/lib
├── macaca-chrome@1.0.7
├── macaca-cli@2.1.2
├── mocha@5.2.0
├── mocha-

[2018-06-07 03:59] 1999 commented on #161
I think I know what's the issue: you're probably using node version which is less than 8, while mocha-parallel-tests supports only node >= 8

[2018-06-07 10:18] megolee commented on #161
@1999 You are right. When I upgrade my node >=8 , it works for me. Thank you.

Since you said mocha-parallel-tests not support --retry option, and is there any other option can replace the --retry?

[2018-06-07 11:38] alex20465 commented on #161
@1999 To support all node versions just change the tsconfig:

[code]

To

[code]

[2018-06-07 11:55] 1999 commented on #161
@alex20465 that's not the only thing. Actually, the idea is we don't want to support the old versions of node, so the minimum is LTS which is 8. Also, async/await performance is much better starting from version 8 ¯\_(ツ)_/¯

[2018-06-07 11:55] #161 closed

[2018-06-07 11:56] 1999 commented on #161
@megolee I think what you're looking for is mocha `--retries` option. It is supported by `mocha-parallel-tests` as well.

[2018-06-07 12:04] alex20465 commented on #161
Anyway I created a fork ES6 version of this package:

[code]

works fine.

[2018-06-07 16:04] qatechniker opened #162 "Working with global variabels, allure reporter"
Hello,
I am using  mocha-multi-reporters to generate couple reports.
Allure one in list - mocha-allure-reporter (inside creates global variable - allure).
I am using global allure to add custom steps to reporter:
`declare let allure: any;`
and then:
`allure._allure.startStep(title);`
It works with mocha, but I got error once start with mocha-parallel-tests:
ReferenceError: allure is not defined

F

[2018-06-07 21:51] 1999 commented on #161
@alex20465 it would be also great if you put a link somewhere to the README of the forked project about the `mocha-parallel-tests`.

[2018-06-07 21:55] 1999 commented on #162
@qatechniker Interesting. Allure reporter is said to be supported since `mocha-parallel-tests` version 2.0.1: here's the test which demoes this: https://github.com/yandex/mocha-parallel-tests/blob/master/test/reporter-custom-allure/index.sh#L8
Which `mocha-parallel-tests` and `mocha-allure-reporter` version are you using?

[2018-06-08 09:53] vlaad360 commented on #133
It works well, but
Every test add more tabs)

![2018-06-08_12-52-10](https://user-images.githubusercontent.com/8202751/41151936-e50d6844-6b1a-11e8-86c7-39172dc942e6.png)

[2018-06-08 11:11] qatechniker commented on #162
Hello @1999 , reports generating finally from describe and it, but custom steps ...  no

"mocha-allure-reporter": "^1.4.0",
"mocha": "^5.1.1",
"mocha-parallel-tests": "^2.0.2",
"mocha-multi-reporters": "^1.1.7",

[2018-06-08 12:08] 1999 commented on #133
Ah, that's pretty expected: each test is executed in a separate process and their results get merged in the top level suite at the end. That's the main difference from mocha reporting 🤷‍♂️
Glad I helped.

[2018-06-08 12:08] #133 closed

[2018-06-08 12:09] 1999 commented on #162
@qatechniker Unfortunately I don't have much experience with Allure. Can you show what's custom step and how you launch test when you run it with mocha?

[2018-06-08 12:18] qatechniker commented on #162
Sure.
1) It is ts project with OOP approach
2) My tests start command line:
    "rest-api-tests-parallel": "./node_modules/.bin/mocha-parallel-tests --max-parallel 8 --reporter mocha-multi-reporters --reporter-options configFile=./pathToFile/reporter-config.json --timeout 1000000 --recursive ./dist-rest-api-test/rest-api-tests/src/"
My mocha-multi-reporters config:
{
    "reporterEnabled": "good-m

[2018-06-08 12:31] qatechniker commented on #162
Em, did not get the question....
Yes - I am starting tests with mocha-parallel-tests as you can see in my start tests string

[2018-06-08 12:32] qatechniker commented on #162
mocha-allure-reporter during start creates global variable allure, which I am using then in custom steps

[2018-06-08 22:58] 1999 commented on #162
Okay, I investigated this case a bit and came up with a limitations page: https://github.com/yandex/mocha-parallel-tests/wiki/Limitations
I also added a link to it to the project's README.

TL;DR: no good news here: custom variables are pretty hard to support in a multi-process mocha tests execution environment.

[2018-06-08 22:58] #162 closed

[2018-06-13 06:37] mpreethi90 commented on #113
@1999 this is awesome. Thanks much !!

[2018-06-13 06:53] dharmamoolya commented on #113
@1999 Great. thanks .

[2018-06-13 07:00] dharmamoolya commented on #113
@1999 Report generated but the failed test data and other data is empty .
![screen shot 2018-06-13 at 12 29 50 pm](https://user-images.githubusercontent.com/24267471/41335197-981c955c-6f05-11e8-880f-1bc5c32f57ab.png)

Refer above screenshot

[2018-06-13 07:07] 1999 commented on #113
@dharmakrish6 are you using custom steps in your tests?

[2018-06-13 07:10] dharmamoolya commented on #113
Same test works with `macaca run ` But with `mocha-parrellel-tests` not generating `suites[]` data

[2018-06-13 10:05] 1999 commented on #113
@dharmamoolya not sure what's `macaca`. Can you answer the question above? If you don't use custom steps, can you please post your test here and `mocha-parallel-tests` that you're using as well as `mocha` version?

[2018-06-13 12:53] 1999 opened #168 "Investigate: bail behaviour"
Currently `--bail` behaviour is weird in `mocha-parallel-tests`. In `mocha` if one test case fails others don't get executed. `mocha-parallel-tests` does this for each process and these processes don't know about each other. Ideally we need to stop running tests in other processes if in some process test execution fails. However we can consider other options here:

- stop running tests, emit what

[2018-06-15 09:15] 1999 opened #169 "Investigate: using node async hooks to detect that process is about to exit"
The parent issue is #155 - we need to re-use forked processes because processes spawning is pretty expensive in terms of timing and RAM.

1. if `mocha` is executed with a `--exit` flag, this is a bit easier: when the "end" event is fired in the subprocess it's about time to launch the next test (i.e. test file). A small problem here is that there can still be a case where some async action happens

[2018-06-15 09:16] 1999 commented on #169
cc @k03mad, this is a pretty advanced task and it's using a relatively new node API [async_hooks](https://nodejs.org/api/async_hooks.html). An example of its usage is [this package](https://github.com/mafintosh/why-is-node-running) - it's pretty straightforward. If you want to dive deep into JavaScript event loop, there's nothing better than this task.

[2018-06-19 05:30] mpreethi90 commented on #113
Hey @1999 , just noticed that **mocha-parallel-tests + mochawesome** works fine for tests thats passing but for failed test I dont find even the **mochawesome-report** folder getting created

[2018-06-19 10:46] 1999 commented on #113
@mpreethi90 can you create a sample repo with reproducible example? I will take a look at it asap

[2018-06-20 04:58] mpreethi90 commented on #113
@1999  can you check https://github.com/mpreethi90/develop-Pre this sample repo?

STEPS to recreate:
1. Clone to the repo
2. cd to sample-nodejs-master
3. npm install
4. npm run test:desktop-browser along with saucelabs username and key

I have made an expected failure by giving an invalid css element

[2018-06-20 06:10] 1999 commented on #113
Thank you @mpreethi90, I can reproduce this on your test:

![image](https://user-images.githubusercontent.com/73191/41640251-67a1bcf0-74a4-11e8-9434-6774dca873f1.png)

The problem is that there's no "end" event from the subprocess for some reason. I will take a look today.

[2018-06-20 06:57] mpreethi90 commented on #113
thanks for the prompt response ! awaiting for the fix.

[2018-06-21 21:48] 1999 commented on #113
Current status: I'm trying to find the reason why this happens only to this code. It looks like the problem occurs for all tests/libraries written with `q` promise library because not only does it have its own "unhandledRejection" handler but it also emits the "unhandledRejection" event on the next tick: https://github.com/kriskowal/q/blob/master/q.js#L1104

I'm investigating this further.

[2018-06-21 21:49] 1999 commented on #169
Side note: chrome inspector is also using async hooks:
[code]

[2018-06-22 09:58] kiran-z commented on #113
@1999 did a little bit of research on this.
 Issue seems to happen when an error occurs with all promise errors `UnhandledPromiseRejection` not specific to `q` promises.

[2018-06-24 15:25] tosbaha opened #172 "Tests stop after uncaught first exception."
I have multiple test files. I want to run them in parallel programmatically. If one of the test files fail with Uncaught exception, testing stops. I checked the source code and saw that you are using process.exit after `Uncaught exception` I tried to set `bail:false` but it didn't change anything.

TLDR; I want to run all test files in parallel and get a report at the end even if one the tests are

[2018-06-24 21:53] 1999 commented on #172
@tosbaha thank you for posting the issue. That sounds weird, I will take a look soon.

[2018-06-25 00:39] 1999 opened #173 "Unhandled rejection error with q-based promises"
There's an issue with q-based promises libraries like `selenium-webdriver`. The issue is reported by @mpreethi90 [here](https://github.com/yandex/mocha-parallel-tests/issues/113#issuecomment-398278925). This issue is to track the progress of it.

[2018-06-25 00:39] 1999 commented on #113
I just created a separate issue #173 to track the progress of this bug instead of chatting in this closed issue. Hopefully it's okay

[2018-06-25 00:40] 1999 commented on #173
Issue seems to happen when UnhandledPromiseRejection occurs with promises , not specific to q promises.

[2018-06-25 03:33] 1999 opened #175 "Smarter output for mocha-parallel-tests tests"
Right now the output when you run `npm test` looks like this:
[code]

It would be great to see it in a shorter way:
[code]

We can use echo's `-n` and `-e` flags for that: https://stackoverflow.com/questions/12628327/how-to-show-and-update-echo-on-same-line

Do not forget that if error occurs inside the test it can also write some debug errors into stderr and they should be shown on the next line:

[2018-06-25 03:34] 1999 commented on #173
This issue is fixed but I also want to take a look at #172. The new release will be published in 1-2 days.

[2018-06-25 03:35] 1999 commented on #175
@k03mad I need your help here 😇

[2018-06-25 06:42] #172 closed

[2018-06-25 06:48] 1999 commented on #172
The newly published `mocha-parallel-tests=2.0.3` has the fix.

[2018-06-25 06:48] 1999 commented on #173
The newly published `mocha-parallel-tests=2.0.3` has the fix.

[2018-06-25 12:03] 1999 commented on #172
@tosbaha not a problem. Unfortunately I can't reproduce your issue: in my case I can see that the test finishes with an "end" event:
[code]

![image](https://user-images.githubusercontent.com/73191/41849250-920e6ec0-78c3-11e8-840b-29df4087be1a.png)

Can you create a gist/repo so that I could reproduce it?

[2018-06-25 12:33] tosbaha commented on #172
For me it is giving me an error. Here is my test setup.

**1.test.js**

[code]

**2.test.js**

[code]

**3.test.js**

[code]

**4.test.js**

[code]

Testing Code
===

[code]

PS: I tested with or without mochawesome. It always crashes and stop processing other test files.

[2018-06-25 13:12] 1999 commented on #172
This is pretty expected: if you run your code with `mocha` it will throw exception here as well. At least that happens to me on mocha@5. So `mocha-parallel-tests` does nothing new here 🤷‍♂️

![image](https://user-images.githubusercontent.com/73191/41851985-192aca62-78cd-11e8-9248-28b6cc368e8f.png)

Neat pick: in your code `const runner = await mocha.run()` await is not needed: `mocha.run()` immedi

[2018-06-25 13:16] tosbaha commented on #172
Thanks again for the feedback. I thought maybe there was a way to catch all kind of errors. `Domain` maybe? PS: Thanks for your comment about for `mocha.run()` Keep up the good work. 👍

[2018-06-26 04:01] 1999 commented on #172
Cheers, mate 😎
Domains are deprecated, so not sure. Ideally these kind of errors are fatal which means that ideally you need to fix them asap. Otherwise you'll have a feeling like "of my tests is failing so I need to fix it". There's also mocha's `--allow-uncaught` option, I actually didn't play with it so maybe it can help.

[2018-06-27 03:30] linjin-harvey opened #176 "mocha-parallel-tests cannot generate the correct report with mochawesome-screenshots"
1.  The failed test screenshot was not been created[]
![screenshot](https://user-images.githubusercontent.com/16532219/41951242-69cfea26-79fc-11e8-926f-ae1d997c4222.png)

All test show same test code in report
![code](https://user-images.githubusercontent.com/16532219/41951274-941cb584-79fc-11e8-9cc1-04dbff12d0d2.png)

@1999  Could you pls take a look, thanks

[2018-06-27 03:55] #173 closed

[2018-06-27 08:52] tosbaha opened #177 "Dynamic tests"
I have some dynamic tests in a single file and it seems `mocha-parallel-tests` doesn't introduce any difference if test is run from single file. Is there a any workaround to speed up dynamic tests in a single file? For example below script takes 14 seconds to run with mocha or mocha-parallel-tests. However if I change describe with `parallel` from `mocha.parallel` it takes 2 seconds. I don't want

[2018-06-27 10:11] 1999 commented on #177
Well, for this kind of tests there would definitely be difference because what mocha-parallel-tests does is it;s running each file in a separate process. Perhaps if you split your file into separate files you can see the difference.

Using `mocha.parallel` is okay if you don't need all `mocha` machinery: reporters, CLI, etc: https://github.com/yandex/mocha-parallel-tests/wiki/Comparison-with-mocha

[2018-06-27 10:20] tosbaha commented on #177
That is a bummer :\ My project needs dynamic tests because it would be tedious to write 300 test and maintain it. I didn't understand what you mean by

Because if I run the test by mocha using `parallel`, I can use the reporters like mochawesome. Only downside is, because parallel must be the top level function, I can't separate each individual tests with describe.

PS: I have found a way to run t

[2018-06-27 12:33] 1999 commented on #177
Interesting. Can you give me an example of that? I didn't find a way to use custom reporters with `mocha.parallel`

[2018-06-27 12:49] tosbaha commented on #177
I haven't done anything special. I put my test file inside `test` folder and run the test with `mocha -R mochawesome` It works. Only downside as I said is, test doesn't show how it passed. Mochawesome only reports resolution of `parallel`

Just paste above into /test/ folder and run it with  `mocha -R mochawesome`

Test Results with `parallel`
===
Duration of all tests: 4.17s
<img width="1171" alt

[2018-06-28 00:58] 1999 commented on #177
Gotcha. That's an interesting example of using `mocha.parallel`: it() comes from mocha which patches the global namespace while parallel() is just a function from `mocha.parallel`. I didn't think of it before 👍

[2018-06-28 00:58] #177 closed

[2018-07-01 13:09] 1999 commented on #176
@linjin-harvey thanks for posting the issue. I'm not sure if I can help here without some reproducable test code 🤷‍♂️

[2018-07-01 13:49] #175 closed

[2018-07-02 10:52] Jack-X-Yang opened #180 "How to use mocha-parallel-tests with karma？"

[2018-07-08 02:06] 1999 commented on #176
Closed because of no activity here.

[2018-07-08 02:06] #176 closed

[2018-07-08 02:08] 1999 commented on #155
One more note about `jest`: it doesn't always execute all tests in parallel. Instead, it has some heuristics to detect whether it makes sense for the tests. You can force to run test files in parallel with `--no-cache` option and it will reuse forked processes.

[2018-07-08 05:19] theKashey commented on #155
☝️that's why you also should't be _too_ parallel :)

[2018-07-08 21:58] 1999 commented on #89
Closing as inactive.

[2018-07-08 21:58] #89 closed

[2018-07-13 16:45] DblK opened #181 "Using global..."
I have read the document about the limitations (https://github.com/yandex/mocha-parallel-tests/wiki/Limitations) and I wanted to know if I use somewhere `global.sinon`, is it normal that my tests are not working and telling me `sinon is not defined`.

Is there a way to make it work?
I use this so avoid, declaring sinon in each spec file.

Thank for your reply.

[2018-07-13 23:02] 1999 opened #182 "Make mocha-parallel-tests mocha-independent 🙀🍿👻"
Boom! Of course this is not as bad as it sounds. This issue assumes we need to start integrate closer with `mocha` and try to add the `--parallel` flag to `mocha` package which will execute the tests in mocha-parallel-tests. To do this we need to extract the main functionality of `mocha-parallel-tests` into a separate package which should accept `mocha` as a dependency (dependency injection), so t

[2018-07-24 15:43] qatechniker opened #183 "Mocha flag -g (--grep) do not work"
Hello,

My string to run tests looks like:
`./node_modules/.bin/mocha-parallel-tests --max-parallel 10 --reporter mocha-multi-reporters --reporter-options configFile=./pathToFile/reporter-config.json --timeout 1000000 -g 'SmokeSuite' --recursive ./dist-rest-api-test/pathToTests/`

Flag -g 'SmokeSuite' mean start all the tests which have in title SmokeSuite. It does work with mocha, unfortunately d

[2018-07-24 20:14] trp956s opened #184 "Bug? Feature? Support it.only and describe.only like mocha does"
When i run my tests using mocha-parallel-tests (as opposed to mocha) all tests run regardless of tests or describes with .only EG ```it.only('test name', testDefinition)``` or ```describe.only...```.  These are supported methods by mocha: https://mochajs.org/#exclusive-tests.

Thanks

[2018-07-27 01:58] dylanzhang123456 opened #185 "mocha-parallel-tests cannot take error screenshot by suing mochawesome-screenshots"
background:
my team is using mochawesome-screenshots to take screenshot after error happened,
this is very helpful when script is failed.

my command is:
mocha-parallel-tests ./test/spec/XXX.js --reporter mochawesome-screenshots --reporter-options jsonReport=true,clearOldScreenshots=false,shortScrFileNames=true --timeout=60000

can you help investigate how to make mocha-parallel-tests can support

[2018-07-27 01:59] dylanzhang123456 commented on #184
I have meet the same problem.Hope it works better in the future.

[2018-07-27 04:57] 1999 commented on #183
Hey @qatechniker, thanks for posting this issue and sorry for late response. This looks like a pretty easy thing to fix, we just need to add a handler for `--grep` option: https://github.com/mocha-parallel/mocha-parallel-tests/wiki/Limitations#not-all-mocha-cli-options-are-supported

I'm a bit busy these days so I'll probably fix that in 3-4 days, but you can also send a PR. The idea is to have a

[2018-07-27 10:50] qatechniker commented on #183
Hello @1999 ,

Thanks for pointing me on proper place. I have added needed option.
Unfortunately test fail.
Not sure What I am doing wrong.
Can you please take a look on PR - https://github.com/mocha-parallel/mocha-parallel-tests/pull/186

Thanks

[2018-07-28 02:30] 1999 commented on #184
Hey @trp956s, thanks for posting this issue. The problem, however, is a bit controversial: `only`-suites and cases are okay if they're happening in one thread. `mocha-parallel-tests` runs each file in a separate process and each process doesn't know what's happening in other processes. We can probably think about that but I'm not sure it can work nicely with `--delay` option. If you have any free

[2018-07-30 01:59] #183 closed

[2018-08-01 19:54] qatechniker commented on #183
@1999 thanks for you help and mocha-parallel, it saved my project and made things easier!

[2018-08-03 06:15] dylanzhang123456 commented on #185
Hi,@1999

Just like I comment before,I used this command to run my project:

mocha-parallel-tests ./test/spec/XXX.js --reporter mochawesome-screenshots --reporter-options jsonReport=true,clearOldScreenshots=false,shortScrFileNames=true --timeout=60000

it can't set screenshots to mochawesome html report with no error message in system console,

clue: piece of html report:

[code]

but I can'f find

[2018-08-03 21:50] nvrnight opened #189 "Intermittent processes not terminating..."
Windows 10
Node v10.1.0.

Not sure if this has to do with mocha-parallel-tests or electron, but sometimes when running the tests(there are 2 tests). I get output from one, but not the other and the terminal just hangs until CTRL+C. When the tests are run without mocha-parallel-tests and the tests are run synchronously everything works fine.

Here's my repository url: https://github.com/nvrnight/Gi

[2018-08-04 02:55] nvrnight commented on #189
Well shit, I was missing an await on my line app.client.getTitle().should.eventually.equal('Git Noodle');

I'm going to close out this issue now and run my face into a brick wall.

[2018-08-04 02:55] #189 closed

[2018-08-05 21:48] 1999 commented on #185
Gotcha. As far as I understand `mochawesome-screenshots` are using protractor tests which is using webdriver inside. I suspect that this can be the problem - too many steps here and each of them runs in a separate process.

mochawesome-screenshota docs say that it also supports some kind of parallel tests execution, maybe that's what you need?

Anyway, it's very difficult for me to reproduce this

[2018-08-06 14:34] pdulapalli opened #190 "Node v4 compatibility"
Hello,

I was looking for a version of your package that was compatible with Node version 4.

I noticed that the [following build had passed](https://travis-ci.org/mocha-parallel/mocha-parallel-tests/builds/360717303) for Node version 4.

Which version of your package does this correspond to?

[2018-08-07 05:00] 1999 commented on #190
Hey @pdulapalli
That was a 1.x version of `mocha-parallel-tests` which is strictly speaking completely a different package. In v2 we also made a decision to support at least an LTS node version which is now 8. One of the main reasons was the performance - node@8 is much more performant compared to node@6. Also an important point is that node@8 natively supports optimized async/await and we don't n

[2018-08-08 23:51] 1999 commented on #181
Hey @DblK
Well, it depends on how and where you're using it.
Do you have a `--global` or something like a top-level `before` script whene you declare global.sinon?

[2018-08-17 07:50] MaksymDusheiko opened #191 "how to handle custom flags"
Trying to parallel our api tests using mocha-parallel-tests.
In our testing framework, we have a config file which generates config respecting to sent flags

    const argv = require("minimist")(process.argv)
    const env = argv.env || "qa";
    export = {
        env: envData.env[env] as Env,
        envUsed: env,
        build: argv.hcsBuild || "",
        launchName: argv.launchName || "buildN

[2018-08-20 17:14] erwinw commented on #121
So... I have the distinct impression that if you have 2 test files, your `--require` file gets run twice. Is that intentional? If so, any way to avoid it?

[2018-08-20 17:50] 1999 commented on #121
@erwinw I'm not 100% sure but this sounds like an expected behaviour of `mocha-parallel-tests` v2 because it runs each file in parallel. We can run this `--require`'d file inside the main process for sure but in this case there's no way to pass the results to forked test processes.

[2018-08-20 17:51] 1999 commented on #190
Closing because of the inactivity for 2 weeks.

[2018-08-20 17:51] #190 closed

[2018-08-20 17:51] 1999 commented on #185
Closing because of the inactivity for 2 weeks.

[2018-08-20 17:51] #185 closed

[2018-08-20 21:27] erwinw commented on #121
Thanks for the reply, @1999 . It’s a bit unfortunate since it’s leaves only hacky solutions; and I guess the only thing we might have is the ID of the parent process (process.ppid — haven’t tested if that is correct in this case, and a file on disk

[2018-08-21 09:05] 1999 commented on #121
@erwinw right. Maybe that's a good area for `mocha-parallel-tests` improvement - some kind of lock/release API so that the processes can share some state between them. Right now using a file as a lock is probably the only way I can think of to make it work.

[2018-08-21 16:43] erwinw commented on #121
What I'm thinking is that a mechanism to run some code exclusively _before_ all tests are run, and _after_ all test are run.

Maybe you could have an event emitter exposed on the `mocha-parallel-tests` module. The trick would be to decide which of the instances would run the 'parallel-before' and 'parallel-after'? I don't know if Mocha has any way of allowing the definition of these -- otherwise `

[2018-09-28 13:17] qatechniker opened #192 "[QUESTION] How works --max-parallel flag?"
Hello,

I have 750+ rest api tests running with mocha parallel. For now it takes about 12 minutes when --max-parallel 10. Became boring to wait and I would like to increase number of threads.

But when I play with it (15, 20) - nothing changes. I was expected errors due to load on test server, but nothing just happens once I set twice more threads. I feel something wrong and it just use default va

[2018-09-29 16:00] qatechniker commented on #192
Hello,
Does  mocha-parallel run tests in file in parallel or tests ("it") itself? Let's say I have 2 files, 10 tests and run in 4 threadsl. WIll it start 4 threads of 2?

[2018-09-29 22:03] 1999 commented on #192
It runs files in parallel, test cases (it) are not parallelized.

[2018-09-30 07:04] qatechniker commented on #192
Thanks for clarification!

[2018-10-04 16:21] DeChrish opened #193 "Grunt task implementation"
Can you provide the grunt implementation ?

[2018-10-10 03:49] jetlv commented on #143
Hello,

I got this following error while using the latest release

[code]

I noticed you fixed a bug that tests contains both --bail and --retires would face the issue. But my command has no --bail options. Only retires and I still get the error. Can you please look into this?

I am running test with following command

mocha-parallel-tests test/*.js --retries 2 --timeout 800000 --max-parallel 5 --

[2018-10-10 05:06] 1999 commented on #143
@jetlv hey. Better create a separate issue for this one and also put the tests code there. It would help a lot.

[2018-10-10 05:16] jetlv opened #194 "`--retries` CLI issue: Unhandled asynchronous exception: AssertionError [ERR_ASSERTION]: Couldn't find test by id while using retries option"
Hello. Following are my test code. wrong_case.js

[code]
Then I would use following command to trigger the test running -

`mocha-parallel-tests wrong_case.js --retries 2 --timeout 800000 --max-parallel 5 --recursive`

Error output -

[code]

[2018-10-10 05:16] jetlv commented on #143
@1999 Hi I created a new issue [here](https://github.com/mocha-parallel/mocha-parallel-tests/issues/194)

thanks

[2018-10-17 05:15] jetlv commented on #194
Can anybody help on this issue? I guess my code is very clear.

[2018-10-18 20:32] 1999 commented on #194
Sorry for the long wait. Unfortunately, I'm the only active maintainer for the project at the moment. It looks like the issue is related to the `--retries` option. If you do not use it, everything works fine. Do you actually need it in your tests? @jetlv

[2018-10-18 21:14] 1999 commented on #194
https://github.com/mocha-parallel/mocha-parallel-tests/pull/196

[2018-10-19 01:46] jetlv commented on #194
Hello,

Yes I am running large amount of web e2e tests, so for avoiding some useless bug report, like what were caused by internet connection or some unexpected behavior from browser, I must set retries > 0, which means If all ${retires_count} tests failed, then it is really failing. Is that hard to fix?

Best

[2018-10-21 03:59] 1999 commented on #194
@jetlv thanks again for finding time to post this issue. Version 2.0.5 is just published and it should contain the fix for your issue.

[2018-10-22 06:44] yuri-sakharov opened #197 "Why does it works more slower with mocha-parallel-tests?"
Hello,
I tried to use mocha-parallel-tests and expect that it will more faster but something wrong because got results more sower than mocha.

"test-silent": "mocha-parallel-tests -R  min './app/**/*-spec.{js,ts,tsx}'",
npm run test-silent  2388.19s user 225.64s system 352% cpu 12:21.89 total

"test-silent": "mocha -R min './app/**/*-spec.{js,ts,tsx}'",
npm run test-silent  50.07s user 1.81s syste

[2018-10-22 06:46] yuri-sakharov opened #198 "Why does it works more slower?"
Hello,
I tried to use mocha-parallel-tests and expect that it will more faster but something wrong because got results more sower than mocha.

"test-silent": "mocha-parallel-tests -R  min './app/**/*-spec.{js,ts,tsx}'",
npm run test-silent  2388.19s user 225.64s system 352% cpu 12:21.89 total

"test-silent": "mocha -R min './app/**/*-spec.{js,ts,tsx}'",
npm run test-silent  50.07s user 1.81s syste

[2018-10-22 07:16] jetlv commented on #194
I really appreciate it! Thanks a lot @1999  It works like a charm now and I believe the module becomes better.

When I use the module in production env, I had found another issue. If possible can you please also look into this.

Here is the sample code, you may run it directly to reproduce the bug in several seconds.

[code]
The CLI running command would be

`mocha-parallel-tests paralleltests.js

[2018-10-22 10:05] 1999 commented on #197
It all depends on what kind of tests you actually have. Also, keep in mind that `mocha` runs all tests inside one process whereas `mocha-parallel-test` runs each of the test files in a separate forked process with an IPC channel (a channel to communicate with the main process). This can improve your workflow for some cases (asynchronously running tasks which require network, for instance, webdrive

[2018-10-22 11:18] yuri-sakharov commented on #198
duplicated

[2018-10-22 11:18] #198 closed

[2018-10-22 11:24] yuri-sakharov commented on #197
We have ~ 600 test files (~ 6000 tests) for React project. It's unit tests mix. Part of the test are react component test, ajax request tests, tests for functions...

[2018-10-22 20:02] 1999 commented on #197
I'm almost sure most of these tests are don't require network and are not flaky, right? In this case, there's not much parallelizing would give you. We're currently investigating re-using forked processes (#155) which will make `mocha-parallel-tests` behaviour similar to `jest`. This may increase the speed of tests.

[2018-10-23 07:36] yuri-sakharov commented on #197
yes you are right most of the test are not require network. Thanks

[2018-10-23 09:07] #197 closed

[2018-10-25 09:49] jetlv commented on #194
hello @1999  when you have time can you please look into the issue?

thanks so much

[2018-10-29 20:57] 1999 commented on #194
Hm, that looks really weird. I will take a look at this issue tomorrow.

[2018-10-31 10:43] 1999 opened #200 "Implement re-usable IDs of suites/tests between the main and subprocess"
Right now there's a problem of detecting what test produces an error:

Ideally we need to have reproducible IDs

[2018-10-31 10:54] qatechniker opened #201 "Verification null value missing"
Not sure what is the root reason for the issue. Possibly file with ignored tests on describe level (investigating now).
Need to be fixed. It fail entire run....

Unhandled asynchronous exception: TypeError: Cannot set property 'toString' of null
    at Array.subprocessParseReviver (/usr/src/app/node_modules/mocha-parallel-tests/dist/main/util.js:18:26)
    at Array.<anonymous> (/usr/src/app/node_m

[2018-10-31 11:29] qatechniker commented on #201
Yes, the reason was - I had files with x on describe level

[2018-10-31 11:32] qatechniker commented on #201
Closed by mistake ...

[2018-10-31 18:58] createthis opened #202 "No stack trace"
Hello,

I'm trying to set up `mocha-parallel-tests` with my test suite of about a thousand tests. I'm seeing random heisenbug style failures and no stack trace when the code fails:

[code]

I also have a `test/mocha.opts` file:

[code]

How can I debug this further? Thanks.

[2018-10-31 19:28] 1999 commented on #201
@qatechniker well if this is working okay with mocha and fails with mocha-parallel-tests, this can be an issue. Thanks for posting this, I will investigate this case a bit further.

[2018-10-31 22:32] 1999 commented on #194
I published a new mocha-parallel-tests version a bit early, so this time it will be a pre-patch version instead. @jetlv could you please take a look at `mocha-parallel-tests@2.0.6-0` and see if it works for you?

[2018-10-31 22:37] 1999 commented on #202
I'd say the issue here is probably that you're relying on some global variable available in all of your tests. Can you take a brief look at your tests and see id there's any?

[2018-11-01 01:00] 1999 commented on #193
@DeChrish I can't say that I know a lot of things about `grunt`. Can you provide a sample `grunt` task for `mocha`?

[2018-11-01 08:16] jetlv commented on #194
Hi @1999  It does work well. Thanks for fixing this issue.

[2018-11-01 09:09] 1999 commented on #194
No worries!

[2018-11-01 09:09] #194 closed

[2018-11-01 12:42] createthis commented on #202
1. Why would a global variable cause stack traces and test output to disappear?
1. How would I track down a global variable?

I `import` a single helper from all of my tests. I'm unclear on whether or not that would be considered a global variable in this context.

[2018-11-01 15:03] createthis opened #203 "grep option broken"
When I run `npm test -- -g 'SomeTest'` with regular `mocha` it will run just the tests within the `SomeTest` describe. However, when I do the same using `mocha-parallel-tests` it runs my entire test suite.

I see there is a `grep` option here: https://github.com/mocha-parallel/mocha-parallel-tests/blob/master/src/bin/options/grep.ts so I'm a little confused. Is it just broken?

[code]

[code]

[2018-11-01 15:10] createthis opened #204 "Test output indents horizontally across terminal with each new process"
Example:

[code]

Also, these are not complete test outputs. When run synchronously using regular `mocha`, the test output looks like this:

[code]

What is going on here?

[2018-11-01 20:21] 1999 commented on #202
Yeah nah, I was mostly talking about the cases like this: https://github.com/mocha-parallel/mocha-parallel-tests/wiki/Limitations#global-variables-injected-by-reporters-are-not-fully-supported

Btw I just realized that showing stack traces is not something which mocha does as well: one of your "before" hooks fails and mocha reporter just shows that it failed. Can you try reducing the tests files n

[2018-11-01 20:47] createthis commented on #202
I'm not sure what you mean. I added a `throw` to a `beforeEach` in a regular `mocha` test and I see a backtrace:

[code]

I would gladly show you the same output using `mocha-parallel-tests`, but #203 prevents me.

[2018-11-01 22:57] 1999 commented on #202
Gotcha, sorry for that. Let's jump to #203 first and then go back to this issue.

[2018-11-02 15:47] createthis commented on #203
I'm sorry... what?

Here, I've created a minimal test suite for you to reproduce the issue: https://github.com/createthis/test_mocha_parallel_tests

To reproduce, do the following:
[code]

HTH

[2018-11-02 20:01] 1999 commented on #203
Thanks for preparing a test case! I appreciate that.
I turns that I forgot to support the alias for this option.
#205

[2018-11-02 20:18] createthis commented on #202
Ok, I think I've managed to reproduce the missing stack trace in a minimal git repo. It appears to be a race condition of some kind. Check it out: https://github.com/createthis/test_mocha_parallel_tests_traces

Reproduction steps:

[code]

Example output:

[code]

but note that you may have to run it a few times. Here's the very next run of the tests, in which I *do* get a stack trace:

[code]

HT

[2018-11-02 20:58] createthis commented on #203
Confirmed working.

I do notice that this feature seems fairly inefficient with 1100+ tests spread out amongst 93 files.

I get a lot of one line outputs and it takes much longer than a regular mocha run.

I assume this is because it is loading mocha in a separate process for each *file*, then grepping, and finally returning and compiling all of the results into the output.

An optimization might

[2018-11-02 20:59] #203 closed

[2018-11-02 21:47] 1999 commented on #203
Sounds reasonable. I will create a separate issue for that.

[2018-11-02 21:48] 1999 opened #206 "Grep is working inefficient for test cases with a large number of files"
@createthis in #203

[2018-11-02 22:54] createthis commented on #202
I’m on an old 2013 MacBook, so I’m not surprised you couldn’t reproduce. My analysis of the problem is that it’s a race condition. It happens when the beforeEach throws an exception *after* the it test starts executing, but *before* it finishes. Only a theory. If you are on a faster machine, maybe try a 5 second await in the it block and a 1 second wait in the beforeEach?

Theoretically speaking,

[2018-11-02 23:40] 1999 commented on #202
Not related to this race condition issue: I just realized that `--full-trace` is not supported at all, so the PR above fixes this. Could you please re-check this issue on a new version? `mocha-parallel-tests@2.0.6-alpha.2`

[2018-11-03 12:57] createthis commented on #202
Yes, I'm seeing full traces now when the race condition doesn't get me:

[code]

still fails strangely when the race condition gets me though:

[code]

[2018-11-03 13:04] createthis commented on #202
@1999 do a pull on `test_mocha_parallel_tests_traces` and try again. I added two more tests and it fails every time for me now.

[2018-11-03 20:37] 1999 commented on #202
@createthis you're a legend! I will look into this tomorrow.

[2018-11-03 20:43] 1999 commented on #202
Btw: it looks like the issue is not related to `--full-trace`: it's the `--exit` option that's so crucial for the test. If you remove the `--exit` everything will be working as expected, but I assume you use it for some reason?

[2018-11-04 17:21] createthis commented on #202
Huh. Yes, you're right. It's `--exit`.  I was hoping this would provide me with a workaround so that I could see the backtraces related to my random heisenbug style test failures, but that appears not to be the case. See below.

## To answer your question:

I use `--exit` because my 1100+ test suite just hangs at the end and never quits. I have to kill it manually with `CTRL+c`.

I used to think t

[2018-11-04 20:16] 1999 commented on #204
This is also very interesting, I didn't even expect that it can change the events order. Can you still post a small example of your tests with this problem?

[2018-11-04 20:17] 1999 commented on #202
Definitely. IIRC you can try using https://github.com/mafintosh/why-is-node-running to see what's the problem. Anyway, it would be nice to fix the reporter issue because mocha somehow manages to show the stdout whereas mocha-parallel-tests fails here. I will ping you when the PR is merged.

[2018-11-06 11:24] i0natan opened #209 "How/where do hooks run?"
First, thanks for the great work. We're adding you now as a new best practice, see if you feel comfortable with the text or want to add some example

Question - how does the multi-process approach might affect the test structure? will the 'before' hook run on all processes? file level variable & logic (not inside hooks, hanging on the test file top for example) will get executed also? appreciate f

[2018-11-06 11:50] 1999 commented on #209
Thanks!

Not sure which text you're referring to.

As for multi-process approach it's the same as for the other tests runners. The before hook if specified for some file will be executed for this file only. As for the file logic: yep, will be executed for this file only in a separate independent process.

As for specific scenarios where tests might fail there's a [page with the limitations](https:

[2018-11-07 07:12] i0natan commented on #209
Oh, forgot to include a link:
https://github.com/i0natan/nodebestpractices/pull/273

Ensuring I got this straight - if someone feeds the DB with seed data on the 'before' hook, it will run in all processes and potentially override/duplicate the same data, correct?

[2018-11-07 09:16] 1999 commented on #209
If this "before" hook is in the `--require` then yes, it will be required and executed for each test suite. Currently, I can't think of any option `mocha` has that would allow running the code before running test suites. Maybe `--file` is a good candidate?

[2018-11-07 10:10] i0natan commented on #209
@1999 To my understanding, "before" can be nested within a "describe" === suite level hook. Isn't it?

I might miss something basic about how this great lib works, are you parallelizing files (e.g. file1 -> process1, file2 -> process2) or able to split a single file suite tests between processes?

[2018-11-07 20:48] 1999 commented on #209
Yes, that's the most common usage of before/after hooks.

Yes, every file is executed in a separate process. Technically we're able to split test suites from one file and run them separately, but what we discovered is that developers often find this behaviour confusing because they rely on some variables being set in the previously executed suite from the same file etc. So parallelizing the files

[2018-11-18 02:59] DeChrish commented on #193
@1999 - https://www.npmjs.com/package/grunt-mocha

[2018-11-18 12:15] 1999 commented on #209
Closing as non-active for more than a week.

[2018-11-18 12:15] #209 closed

[2018-11-18 12:17] 1999 commented on #193
Nah, I totally get it. What I don't understand is the usual flow of the projects using Gunt. For me, Grunt is a task runner where you define a set of tasks like "gunt bundle" which bundles the front-end code etc. But what's the idea of using `mocha` in a Grunt task? Why not use it directly from the package.json scripts and run "npm test" instead?

[2018-11-18 21:32] 1999 commented on #202
Hey @createthis. First of all thanks for posting this issue. It may be one of the most useful for the whole year, so I really appreciate that. The thing about `--exit` that I mentioned above was an issue with the asynchronous nature of node.js master vs forked process IPC. These bugs are often difficult to find but hell yeah, now it's much more stable. Just in case you need it: `mocha-parallel-tes

[2018-11-19 13:59] createthis commented on #202
@1999 confirmed, `alpha.3` appears to have solved the problem. In addition, it appears to have solved #204 as well. I'm seeing backtraces all the time now and my tests do not scroll horizontally. Thank you!

[2018-11-19 13:59] #202 closed

[2018-11-19 14:00] createthis commented on #204
`alpha.3` solves this problem! Thank you.

[2018-11-19 14:00] #204 closed

[2018-11-19 14:06] createthis commented on #155
Just an anecdote:

- My 1184 test suite runs in 5 minutes using `mocha-parallel-tests@2.0.6-alpha.3`.
- The same suite runs in just 2 minutes using `mocha`.

The issue is that I use the Sequelize ORM and the HapiJS web server for the majority of my tests. Each test file has to establish a DB connection (SQLite file handle in the test environment) and a port connection to a new instance of the Hapi

[2018-11-20 13:36] KristjanTammekivi commented on #84
Any update on this? I tried 2.0.5 and --watch still doesn't do anything

[2018-11-21 01:16] 1999 commented on #84
Frankly speaking, I don't see any profit of supporting `--watch` in `mocha-parallel-tests`. We can do this but it will not be more performant compared to `mocha` because only changed files will be executed. That's why this issue's priority is low. What's your use case where you need `--watch` support?

[2018-11-21 03:37] laggingreflex commented on #84
At the time of creating this issue, I think I just didn't want to have 2 test libraries. But it seems now that I could totally have had both, since mocha is a peer dependency (I guess I didn't realize that then) and already installed, so keeping to use it just for --watch wouldn't have been a bad idea either.

[2018-11-21 07:48] KristjanTammekivi commented on #84
My usecase is executing DB integration tests. I think I can solve this with nodemon when need be and mostly rely on mocha to just execute one specific suite so it's not too much of a blocker. I just saw in the #126 that watch had a checkmark on it and I was hoping it's ready on a branch somewhere.

[2018-11-21 08:07] 1999 commented on #84
Gotcha, that was close but not it.

[2018-11-21 21:49] chen-daniel opened #210 "Javascript Heap Out Of Memory Error"
I've been running into this error on builds for awhile now. Have tried lowering max-parallel (still having this issue at 2). The entire test suite runs all the way through. Sometimes this pops up before it lists slow tests, sometimes this pops up after it lists slow tests, and sometimes before it lists errors. There are approximately 300 test files with around 4000 tests overall.
This is the comma

[2018-11-22 00:19] 1999 commented on #210
This sounds pretty familiar to me. What versions of `mocha` and `mocha-parallel-tests` are you using?

Seems like you just need to run your tests with `--exit` option.

[2018-11-22 02:21] chen-daniel commented on #210
I've found that Instanbul has improved the way it generates the reports since the version we currently use, will close this for now. Thank you for your help!

[2018-11-22 02:21] #210 closed

[2018-11-22 08:56] 1999 commented on #193
@DeChrish ^

[2018-11-22 09:04] 1999 commented on #201
Hey @qatechniker do you still have this issue when using xdescribes and mocha-parallel-tests?

[2018-11-22 09:53] 1999 commented on #201
That would be great! Right now we have a test for these methods: https://github.com/mocha-parallel/mocha-parallel-tests/tree/master/test/skip-test, so I was almost sure that mocha-parallel-tests supports `xdescribe` as well.

[2018-11-27 04:50] #200 closed

[2018-12-12 21:29] burtonator opened #212 "Unreliable handling of multiple path names...."
On MacOS I've had nothing but trouble getting tests to run recursively.

They just don't work.

specifying --recursive web/js/**/*Test.js

works.. but ignores a large number of files.

... like 40%

I also tried to just pipe a list of files to it via xargs.  That's better but it still ignores about 20% of the files.

I've verified that xargs works with things like echo and recives the full list of

[2018-12-12 21:30] burtonator commented on #212
(and I hope that comment doesn't seem upset... trying to get a release out the door and it probably sounds like I'm a jerk but just stressed)

[2018-12-14 20:20] 1999 commented on #155
@createthis I'm looking at your case and it looks like parallel executing wouldn't help you - not only do you need to run your tests in parallel and with re-usable processes, you also need to have a DB connection shared between the tests and that's a completely different issue. Or maybe you have a better idea?

[2018-12-14 21:58] theKashey commented on #155
What about using `node-fibers`? They would allow share some data.

[2018-12-15 01:52] 1999 commented on #155
Hm, does it mean that the test should be written in a different way compared to a case when you run it with `mocha`?

[2018-12-17 21:19] imurchie commented on #201
I apologize if this is off-base, but I have an error that presents as the same error.

Environment:
* Node: v8.14.0
* Npm: 6.4.1
* mocha-parallel-tests: 2.0.6-alpha.3
* mocha: 5.2.0

The situation is when a `before all` block fails for a skipped `describe` block. When this happens the error comes out as:
[code]
While mocha reports correctly:
[code]

The minimal example to trigger this error is:
[c

[2019-01-08 12:45] robdaems commented on #121
It seems that --require only handles the before hook.
In my current setup I use (programmatically):
 - before  (do it only once, before complete testrun start)
 - after (do it only once, after all tests are done)
 - afterEach (do it after every test)
 - beforeEach (do it before every test)

Is this possible with `mocha-parallel-tests`

Context:
I want to create some kind of "Mocha Server", meaning

[2019-01-08 14:48] robdaems opened #213 "Passing variables"
Hello,

Since every test runs in its own process I cannot access the main context (this.suite.ctx) anymore.

Previously in `mocha`, I've added my parameters to `this.suite.ctx` which were available in every test, but with `mocha-parallel-tests` it seems that this context is empty in the tests.

I want to pass dynamic variables from my main file (where I start the different processes via `new`) to

[2019-01-24 13:01] panishvp opened #214 "How to use mocha-parallel-test in grunt"
Hi there,
I have a grunt file which isrunning mocha tests and creating junit report using reporter mocha-junit-reporter. Since the testsare taking too much of time i want to run these tests in parallel using mocha-parallel-tests.

Right now i am using these versions:
"mocha": "~4.0.1"
"mocha-parallel-tests":"2.0.6-alpha.3"
 "mocha-junit-reporter": "^1.18.0",

[2019-01-26 07:48] 1999 commented on #214
Closing as a duplicate of #193

[2019-01-26 07:48] #214 closed

[2019-02-06 22:10] thespecial opened #215 "Mocha-parallel-tests doesn't show full AssertionError message for nested objects"
Stack:
mocha, nodejs, chai (expect)

Code to run tests in parallel programmatically:
[code]

For example, if in my tests I assert using chai objects `expect({a:3, b:4, c: [ {a: "b", c: "d"}, {a: "b", c: "d"}]}).to.eql({a:1, b:2});`, then I get such log (2) so for nested objects assertion error is cut (the same goes to json output).

[code]

I would expect getting normal log as when run sequentiall

[2019-02-14 20:26] 1999 commented on #215
@thespecial did you try `--full-trace` option?

[2019-02-15 12:54] thespecial commented on #215
@1999 yes, that didn't help.

I did smth like this:
[code]

[2019-02-15 23:56] thespecial commented on #215
@1999 please, check the PR.

[2019-02-18 08:20] OrEvorn commented on #201
any updates on this issue?

Unhandled asynchronous exception: TypeError: Cannot set property 'toString' of null
    at Array.subprocessParseReviver (/usr/lib/node_modules/mocha-parallel-tests/dist/main/util.js:18:26)
    at Array.<anonymous> (/usr/lib/node_modules/mocha-parallel-tests/node_modules/circular-json/build/circular-json.node.js:138:30)
    at JSON.parse (<anonymous>)
    at Object.parse

[2019-02-19 11:56] alexkvak opened #217 "Support mocha@6"
Have you plans to support mocha v6?

[2019-02-19 12:08] 1999 commented on #217
There shouldn't be any problems with that. Maybe you can consider sending a PR for this?
Please don't forget that mocha-parallel-tests is being tested with all mocha versions: https://github.com/mocha-parallel/mocha-parallel-tests/blob/master/package.json#L54

[2019-02-19 12:49] alexkvak commented on #217
But there are at least two problems:

- `getOptions` is deprecated
- Statistics was refactor https://github.com/mochajs/mocha/pull/3458 so there is no `Base.stats` object anymore.

It is possible to support old version (<6) after these changes?

[2019-02-20 00:20] 1999 commented on #217
Let's start with the PR :) IIRC mocha-parallel-tests doesn't rely on these APIs so I think it should be fine.

[2019-02-20 09:41] alexkvak commented on #217
ok, I've created #218

of course it rely. During test run I become a lot of errors such `TypeError: Cannot read property 'passes' of undefined at Spec.Base.epilogue` and `DeprecationWarning: getOptions() is DEPRECATED and will be removed from a future version of Mocha. Use loadOptions() instead Unhandled asynchronous exception`

[2019-02-20 15:38] imurchie commented on #201
We just have a [little gulp task to fix the issue](https://github.com/appium/appium-gulp-plugins/blob/master/lib/tasks/ci.js#L40-L56) in our build pipeline. Not the greatest solution, but until something is addressed here, one that works.

[2019-02-21 09:27] 1999 commented on #217
That's still good to know. Can we fix these issues first?

As for this error:

Seems like `mocha` changed the way passes/fails are stored inside the runner or maybe runner is no more a thing. Would you like to investigate this or I can take a look at it in about a week or so?

[2019-02-22 19:23] ellisio opened #219 "Issues with jsdom."
Hello, I am using `mocha@5.2.0` and am getting the following error when switching from `mocha` to `mocha-parallel-tests`:

[code]

All I did was change the CLI command name to `mocha-parallel-tests` in my root package.json command:

[code]

*<root>/test/mocha.opts:*
[code]

*<root>/test/utils/setup.js:*
[code]

*<root>/test/utils/init.js:*
import React from 'react';
import enzyme from 'enzyme/buil

[2019-03-09 03:37] MatthewDHobbs opened #220 "Support for --ui option TDD"
Would you be able to add mocha-parallel-test support for the mocha --ui option that allows for the use of TDD.

[2019-03-09 04:37] 1999 commented on #220
I don't have much time now to work on mocha-parallel-tests but I'm happy to review your PR if you send it. All CLI options are very simple to enable: https://github.com/mocha-parallel/mocha-parallel-tests/tree/master/src/bin/options
The only thing is that usually we need tests.

[2019-03-12 10:10] Sumit-Soman opened #221 "Getting unhandled asynchronous exception: TypeError: Cannot read property 'passes' of undefined"
Error:
Unhandled asynchronous exception: TypeError: Cannot read property 'passes' of undefined
    at Spec.Base.epilogue (C:\Users\S730737\Documents\EK.com\Projects\carbon-ui-automation\node_modules\mocha\lib\reporters\base.js:318:26)
    at Object.onceWrapper (events.js:313:30)
    at emitNone (events.js:111:20)
    at RunnerMain.emit (events.js:208:7)
    at RunnerMain.emitFinishEvents (C:\Users

[2019-03-12 10:11] Sumit-Soman commented on #221
Have tired downgraded version as well.

[2019-04-03 13:47] sstarnaud opened #222 "Support for --file option"
Is it possible to add support for the mocha '--file' option that would help in executing root level hooks?

[2019-04-10 00:05] 1999 commented on #222
Sure, why not. I guess the only important thing to notice is that this `--file` thing will be executed for all suites, i.e. if you rely on some "state" from this `--file` in all your tests, this will not work with `mocha-parallel-tests`

[2019-04-10 20:30] sstarnaud commented on #222
@1999 Maybe this won't work for what I'm trying to achieve.  I'm trying to have a 1 time 'before' that runs before all test executions and then a 1 time 'after' that runs after all test executions are complete.  This works with the '--file' option in mocha but when I try this with mocha-parallel-tests it throws this "error: unknown option `--test'".

[2019-04-12 00:46] 1999 commented on #222
Not really unfortunately

[2019-04-12 10:23] Danielv123 commented on #221
Same problem here,

`
    "mocha": "^6.1.2",
    "mocha-parallel-tests": "^2.0.6-alpha.3"
`

[2019-04-12 10:25] Danielv123 commented on #221
Downgraded to mocha 5.2.0 and it now works.

`npm i --save-dev mocha@5`

Readme doesn't mention supporting mocha 6, so it shouldn't be that surprising.

[2019-04-13 12:29] 1999 commented on #221
Thanks @Danielv123 @Sumit-Soman for reporting this. Any ideas what's new in mocha@6 which is a breaking change with mocha@5?

[2019-04-13 14:19] Danielv123 commented on #221
I do not follow development of either tool closely enough to hazard a guess. Since this is an issue relating to using an unsupported version of mocha, I suggest we close this issue and continue discussion related to problems with mocha 6 in #217

[2019-04-14 09:06] 1999 commented on #221
Nice catch, looks like it has already been reported. I'll close this issue then.

[2019-04-14 09:06] #221 closed

[2019-04-16 20:07] watson28 opened #226 "Get report events in realtime"
Hi guys,

I just noticed the Mocha reporter events (`test`, `test end`, `hook`, `hook end`, ..etc) are not been triggered until each test file finish its execution ( or when the `end` event is triggered).

I'm having kind of a problem with this behavior since **I'm needing to log out to a file these mocha reporter events** for future debugging. This is because sometimes the execution of the tests

[2019-04-17 06:53] 1999 commented on #226
I think this is something which can be improved, there's no design limitation to fix it.

[2019-04-18 19:09] dbrinda-db opened #229 "null reference in main/util.js"
I'm not sure what causes "fn" to be null but sometimes it seems to be null. This causes the mocha-parallel-tests to crash. I'm using mocha 3.0.2. Wrapping the assignment in a if block seemed to fix it.

Unhandled asynchronous exception: TypeError: Cannot set property 'toString' of null
    at Array.subprocessParseReviver (/repos/dbook-cloud/tests/node_modules/mocha-parallel-tests/dist/main/util.js

[2019-04-19 00:38] 1999 commented on #229
@dbrinda-db can you post any test code you're running so that I could reproduce it?

[2019-04-19 12:15] 1999 commented on #217
We're almost there. Mocha@6 support is in the master branch.
I'll finish a couple of clean up tasks and publish a new version of `mocha-parallel-tests` tomorrow.

[2019-04-19 12:18] alexkvak commented on #217
Awesome news!

[2019-04-19 22:02] 1999 commented on #217
Okies, `mocha-parallel-tests@2.1.0` has just been published. Enjoy!

[2019-04-19 22:02] #217 closed

[2019-04-22 21:29] dbrinda-db commented on #229
i have no idea what causes this. it blows up randomly while running some combination of 20+ mocha tests and 3500 test cases. does not seem to be a deterministic failure.

[2019-04-22 21:45] 1999 commented on #229
Do you always see the same stack trace for this error?

[2019-04-22 22:00] dbrinda-db commented on #229
yes

[2019-04-22 22:02] dbrinda-db commented on #229
most of the time the tests complete without hitting this error. it happens maybe 10% of the time.

[2019-04-26 06:44] renataogarcia opened #232 ""--reporter-options option can be specified only once" error using Mocha 6"
[code]
When using `--reporter-options' and Mocha 6 the following exception is raised:
[code]
It works fine when using `mocha@^5.2.0`

When using version 6 the `reporterOptions` is an `array` instead of a `string` causing the exception:
https://github.com/mocha-parallel/mocha-parallel-tests/blob/b310aec9ecbc49dfe663c51fb1bcfcf6f3ffd101/src/bin/options/reporter-options.ts#L5

Maybe it will require a

[2019-04-26 13:52] zekik64 opened #233 "Output only appears once all tests in a file are finished executing"
When I'm running my suite of tests using mocha-parallel-tests, I only receive any output from my tests AFTER all of the tests in a file have finished executing.

Is there currently a way around this to output as each process is running?

Thanks

[2019-04-26 22:03] 1999 commented on #233
Closing as a duplicate of #226

[2019-04-26 22:03] #233 closed

[2019-04-29 11:38] soryy708 commented on #181
If you were following [this article](https://medium.com/@ankit_m/ui-testing-with-puppeteer-and-mocha-part-1-getting-started-b141b2f9e21) to set up your mocha pipeline, be advised that you'll need to `import` / `require` the boostrapping file from every root-level test suite you have (instead of simply calling it before the `-recursive` option)

[2019-05-06 12:41] danlomantoSamsungNext commented on #226
Is it possible to get this on the roadmap anytime soon by any chance? I'm also experiencing this same behavior.

[2019-05-07 16:18] danlomantoSamsungNext opened #235 "Tests aren't running when running programmatically"
I'm trying to run my tests in parallel programmatically, but it looks like the tests aren't being kicked off.  When I run my tests just using pure `Mocha`, my tests run (in serial of course).  However when I change my import to just use `mocha-parallel-tests`, my tests are never actually started. To run my tests I just have a js function that wraps the kicking off of the tests.  I'll put the sampl

[2019-05-07 20:13] danlomantoSamsungNext commented on #235
I've done some digging as well and I'm seeing test execution error out due to an error code of 12. Here's a screenshot of where I'm seeing this.

[Screenshot of Error Code](https://imgur.com/tBe8f9X)

[2019-05-11 08:25] franz-see opened #236 "How do I separate the reports for each parallel test?"
Hi,

I want to have my tests run in parallel, and also have their reports created separately.

How do I do that?

Thanks,
Franz

[2019-05-11 10:32] 1999 commented on #236
Hi @franz-see can you specify your question a little more? Right now the report for your tests when you run them with "mocha-parallel-tests" is almost the same as when you run them with "mocha". Are you missing any grouping?

[2019-05-22 15:40] watson28 opened #237 "Mocha-parallel-tests send wrong suite object in reporter"
when there are two test files **with the same description in `describe() blocks`** the library send the wrong object in report hooks.

I have a scenario where I need to get the file path from a custom reporter
[code]

And two test files, both with the same describe block
[code]

When tests are executed, MyReporter logs twice `first.spec.js` instead of `first.spec.js` and `second.spec.js`

Result:

[2019-05-22 18:12] watson28 commented on #237
I have created a PR with a possible solution https://github.com/mocha-parallel/mocha-parallel-tests/pull/238

Let me know your thoughts.

[2019-05-27 21:33] #236 closed

[2019-05-27 21:47] 1999 commented on #232
Thanks @renataogarcia looks like I overlooked this and we didn't have a test for `--reporter-options` CLI flag. I will fix it.

[2019-05-27 22:10] renataogarcia commented on #232
@1999 Fantastic - Thanks!

[2019-05-29 22:38] fasatrix opened #240 "Type​Error: "x" is not a constructor"
Hi,
I am experiencing the following error running one of my test suites.

**Command:**
 mocha-parallel-tests --opts ./mocha.opts --max-parallel 5 --slow 50

**mocha.opts content as follows**
--reporter mocha-jenkins-reporter
--timeout 300000
--require ts-node/register
--require tsconfig-paths/register
tests/**/*.ts

**error:**
testfile.ts:15
const httpService: ApiService = new ApiService();

**cla

[2019-05-30 00:55] 1999 commented on #240
Thanks for posting this issue @fasatrix. Still, it's not enough information to reproduce this issue.

1. Does it happen when you run tests in only one file testfile.ts? Can you publish it here?
2. Could you please show the whole stack trace with `--full-trace`?
3. Does this error occur when you run your tests with `mocha`?
4. Can you publish any small repo where this error is reproducible?

[2019-05-30 04:14] fasatrix commented on #240
HI ,
thanks for the quick response.

1) I am not sure what answer to this question, parallel test will run the entire suite which is comprised of several files and folders. What I have noticed is that if I reduce the number of threads to 1 then the tests start being executed and only when the runner gets to the one that instantiate the class breaks.
2) the output t=of this command does produce the

[2019-05-30 09:02] 1999 commented on #240
This will be hard to reproduce since we have only these two things as an input:

*mocha.opts* file
[code]

And some test TS file with this:
[code]

If it works, I will not have any other ideas other than close this issue.

[2019-05-30 09:16] 1999 commented on #232
@renataogarcia `mocha-parallel-tests@2.1.1` contains the fix. Please, check it when you have time and re-open the issue if it doesn't work.

[2019-05-30 09:16] #232 closed

[2019-05-30 10:17] 1999 commented on #237
@watson28 thanks for reporting this and raising a PR. It looks to me like this is a regression from #211 but I need to look a bit more into this.

[2019-05-30 10:19] 1999 opened #242 "Old "tslint:" are in the code"

[2019-05-30 22:04] #237 closed

[2019-06-04 03:22] fasatrix commented on #240
No worries lets close it

[2019-06-04 05:34] 1999 commented on #240
Nah, let's keep it open so that someone can take a look at it.

[2019-06-07 15:03] theptyza opened #246 "Test duration is recorded incorrectly by mocha-allure-reporter with mocha-parallel-tests"
I'm trying to run mocha tests in parallel and write output in allure format.
However test duration is not recorded correctly in allure results.
Simple test: wait for 1s, then pass
[code]
Command to run
`mocha-parallel-tests test.js --reporter mocha-allure-reporter`
Output
[code]
Test start and stop timestamps are the same, so test duration is 0.
Is this a known limitation with mocha-allure-reporte

[2019-06-08 21:17] 1999 commented on #246
@theptyza thanks for posting this issue. We had some issues in the past with allure reporter because of its global variables shared between the test suites. What mocha and mocha-parallel-tests versions are you using?

[2019-06-09 09:46] theptyza commented on #246
I'm using mocha-parallel-tests 2.1.2 and mocha-allure-reporter 1.4.0.
I've tested this with mocha 4.1.0, 5.2.0 and 6.1.4.

[2019-06-10 01:32] 1999 commented on #246
Thanks, I will take a look.

[2019-06-10 08:39] AntaninaKaltsova opened #247 "TypeError: tty.getWindowSize is not a function"
Hi! I started to get the following error:
`(node:53208) UnhandledPromiseRejectionWarning: TypeError: tty.getWindowSize is not a function
    at Object.<anonymous>` at the line `tty.getWindowSize()[1];` in *\node_modules\mocha\lib\reporters\base.js line

Сan еhis be related to the new version 2.2.0?
**Node version: v12.4.0**

**My mocha-runner.ts**

`require("dotenv").config();

import fs from "fs"

[2019-06-10 10:19] 1999 commented on #247
Hey @AntaninaKaltsova, thanks for checking the new version :)
What's your operating system?

[2019-06-11 01:00] alvaroemmanuel commented on #247
Same issue here, using macOS Mojave 10.14.5

[2019-06-11 04:51] 1999 commented on #247
@alvaroemmanuel do you also run mocha-parallel-tests programmatically (not via its CLI)?

[2019-06-13 11:57] nekiscz commented on #222
Do you have some guidelines or how to for contributors?

[2019-06-13 13:25] 1999 commented on #222
Probably not. The project right now is not that complicated. Linting is preconfigured and editorconfig should help you start writing the code. For all pull requests, it's great to add some test - they are in "test" directory. Other than that, feel free to reach me out and ask for help.

[2019-06-19 19:39] alvaroemmanuel commented on #247
@1999 no, I'm running it through CLI, from `npm test`, I just replaced "mocha" with "mocha-parallel-tests" in my package.json scripts.test.

[2019-06-19 23:45] 1999 commented on #247
Gotcha. I could reproduce this issue but unfortunately, it doesn't fail in the CI: https://github.com/mocha-parallel/mocha-parallel-tests/pull/250. I will try to fix this in the next few days.

[2019-06-22 22:50] #242 closed

[2019-06-22 22:51] 1999 commented on #247
@alvaroemmanuel @AntaninaKaltsova this issue should be resolved in `mocha-parallel-tests=2.2.1`. Please re-open this issue if you still see the error.

[2019-06-22 22:51] #247 closed

[2019-06-24 20:21] alvaroemmanuel commented on #222
The --file option would be a nice adding, I have an issue to load global async hooks.
I know this would not be the perfect solution, since it will be called for each process, but will still be an improvement that would let setup and teardown things on a process/suite basis.

[2019-06-24 20:22] alvaroemmanuel commented on #247
It's working now, thanks @1999

[2019-06-27 15:19] watson28 commented on #235
Hi @danlomantoSamsungNext I think the problem is related to the -e flag (--eval). I cloned your repo and executed the function in REPL mode and it works. Also, you can create a small index.js file with the same line you are passing to --eval param (`require("./.build/test-runner/run-tests.js").runTests()`) and it works too.

Is there any reason to execute the tests using --eval ??

[2019-06-27 15:31] danlomantoSamsungNext commented on #235
Thanks for the reply @watson28 !

I think I'm a little confused.  I'm not using the `-e` or `--eval` flag at all, as far as I can tell. Are you saying that I should be using the eval flag?

[2019-06-27 16:39] watson28 commented on #235
@danlomantoSamsungNext I was following the repo you posted https://github.com/DanLomanto/mocha-parallel-tests-repro.

In steps to reproduce, step 5, the tests are executed using `node -e 'require("./.build/test-runner/run-tests.js").runTests()';`

That's why I was talking about the `-e`/`--eval` flag.

[2019-06-27 16:47] danlomantoSamsungNext commented on #235
Ohhhh I'm sorry! I was thinking about the actual mocha command.  I'll give that a try. Thanks!!!

[2019-06-27 17:48] danlomantoSamsungNext commented on #235
That was it, thanks!!!

[2019-06-27 17:48] #235 closed

[2019-06-27 21:41] 1999 commented on #235
@watson28 kudos for sorting this out!

[2019-07-03 09:15] theptyza opened #255 "Skipped tests and suites are not recorded"
Can only see this problem in the latest 2.2.1 version.

Sample test
[code]
With mocha:
[code]

With mocha-parallel-tests@2.2.0:
[code]

With mocha-parallel-tests@2.2.1:
[code]

[2019-07-03 09:16] theptyza commented on #255
My understanding is that the 'pending' event doesn't have data and gets filtered out by
[code]

[2019-07-11 16:36] xuxinya opened #256 "mocha-allure-reporter & Cypress trouble: Cannot read property 'currentTest' of undefined"
Trying to use mocha-parallel-tests for selenium-webdriver UI-tests and with --reporter mocha-allure-reporter, but got a trouble.

code in /plugins/index.js

[code]

code in test.js

[code]

console.log is empty：Allure { suites: [], options: { targetDir: 'allure-results' } }

My versions:

node v8.9.3（cypress/.node-version）
mocha v5.2.0
mocha-allure-reporter v1.4.0
Cypress package version: 3.3.2
Cy

[2019-07-12 07:27] #256 closed

[2019-07-13 14:05] misko-frame commented on #222
+1

[2019-07-25 12:38] guimard opened #257 "Unable to build"
Hello,

using git tag 2.2.1, I'm unable to build:
[code]
Cheers,
Xavier

[2019-07-25 20:55] 1999 commented on #257
That's a bit odd. Seems like your npm doesn't respect the package-lock.json contents. What's your node and npm version? And what's the typescript version after you install all dependencies?

[2019-07-25 21:03] guimard commented on #257
Hello,
I used yarn to install, this works with `npm install`, sorry for the noise

[2019-07-25 21:03] #257 closed

[2019-07-26 14:30] javiertury opened #258 "[Bug] Worker threads ignore "--require""
The function `applyRequires` as defined in [util.ts](https://github.com/mocha-parallel/mocha-parallel-tests/blob/292858ce1413423267dded62d0cba2b5fb155555/src/util.ts#L27) only resolves the paths of the required packages, but doesn't execute them.

Now, take a look at the runner in [subprocess/runner.ts](https://github.com/mocha-parallel/mocha-parallel-tests/blob/292858ce1413423267dded62d0cba2b5fb1

[2019-07-26 19:40] javiertury commented on #258
What if mocha-parallel-tests had an option to use subprocess instead of worker threads?

[code]

If I require from node, it fails.

[code]

[2019-07-27 00:56] javiertury commented on #258
I'm sorry, this seems to be a specific issue of `esm`. `applyRequires` works as intended, it's `esm` to blame.

[2019-07-27 00:56] #258 closed

[2019-08-09 12:09] DJ-Glock opened #259 "mocha-parallel and yargs"
Hello.
I use mocha and puppeteer in normal and headless mode. Normally I use the following command to run tests in normal mode:
`mocha --timeout 60000 -r ts-node/register/transpile-only src/Tests/*.e2e.[jt]s --slowMo 100
`
and in headless mode:
`mocha --reporter mocha-teamcity-reporter --timeout 60000 -r ts-node/register/transpile-only src/Tests/*.e2e.[jt]s --headless --slowMo 100`

[yargs ](https

[2019-08-11 10:40] 1999 commented on #259
That's because mocha-parallel-tests suites run independently of each other and don't share the "global" namespace. Currently, there's no way to share any data between the threads.

[2019-08-12 11:53] DJ-Glock commented on #259
@1999 thanks Dmitry.

[2019-08-12 11:53] #259 closed

[2019-08-13 13:32] eladbenami opened #260 "sorting files option"
hi
we want to sort the files by name (or even by file.updated descending), so we can run some files earlier than the rest.
is it possible?
from what we saw, you can just add: filesList.sort(); src/bin/options/rest.ts

thanks
Elad

[2019-08-14 11:11] 1999 commented on #260
Is there an option for this in `mocha`?

[2019-08-23 13:25] zhq745w opened #261 ""mocha-allure-reporter" dont work with "mocha-parallel-tests""
I have test:
[code]
Run it:
`mocha-parallel-tests --max-parallel 1 test.js`

... and get an error:
[code]

How to get Allure to work with a mocha-parallel-tests?

[2019-08-25 14:04] countergram opened #262 "tslib is required but missing from dependencies"
`tslib` is required in multiple places in the distributed version of this library, including the CLI, so it should be a dependency. Currently it's not a dependency but `mocha-parallel-tests` can't be run without it.

[2019-08-26 10:30] 1999 commented on #262
Thanks for reporting this. Could you provide an example which file complains of missing tslib?

[2019-08-29 21:12] #262 closed

[2019-08-29 21:15] 1999 commented on #262
Thanks again @countergram, version 2.2.2 should contain the fix.

[2019-09-14 13:26] 1999 commented on #222
@Favna that's the spirit :) The flow is pretty easy - you create a PR which contains a test, we review it together and merge. The tests are in "test" folder, see [delay option](https://github.com/mocha-parallel/mocha-parallel-tests/tree/master/test/delay) support test for example.

[2019-09-14 16:13] Favna commented on #222
@1999 I gave it a shot but I can't quite figure out tests. Maybe you could have a look? Here is the compare of the changes I've made so far: https://github.com/mocha-parallel/mocha-parallel-tests/compare/master...Favna:feat/file_option, based on this branch: https://github.com/Favna/mocha-parallel-tests/tree/feat/file_option.

For some reason adding this code also has many other tests fail, but so

[2019-09-16 03:34] 1999 commented on #222
That's the reason: mocha-parallel-tests doesn't work well on Windows: https://github.com/mocha-parallel/mocha-parallel-tests/pull/254. If you can use Linux/Mac to run your tests that would be easier for now. Also, could you please raise a PR so we can continue the convo there?

[2019-09-22 18:33] AntaninaKaltsova opened #264 "Identical titles of skipped scenarios"
Hi! I'm using mocha-parallel-tests version 2.2.2, tried with mocha 6.1.4 and 6.2.0.
I have several test files, each file contain one **describe** block and several **it**s in it, also at least one skipped **it** (using **xit** statement). In console all skipped scenarios have identical titles, but in real they are not identical. Could you please check it?

`  GET /v0/applications/applicationUID/de

[2019-09-25 06:49] 1999 commented on #264
@AntaninaKaltsova thanks for reporting this. Right now I don't have enough time to fix `mocha-parallel-tests` issues but I will be more than happy to help you to fix it.

[2019-09-25 15:46] asztal opened #265 "Using worker threads can be a breaking change"
Is there a way to disable the node v12 behaviour where mocha-parallel-tests uses worker threads?

As great as it sound, it's causing an issue with some native modules which are not context-aware and crash when loaded in a worker thread, for example `node-sass`:
https://github.com/sass/node-sass/issues/2746

[2019-09-26 04:35] 1999 commented on #265
Interesting. My preference would be having an environment variable because it's more like an emergency measure rather than an intended behaviour change based on the flag. Happy to review the PR.

[2019-09-27 11:01] sudhir512kj opened #266 "How to setup environment for mocha-parallell-tests command"
I am not setting the environment for mocha command using
`mocha test/hello.spec.js --env='{NODE_ENV="testing"}'`
but not able to setup the environment for the mocha-parallel-tests command

[2019-09-28 06:29] Favna commented on #222
Took quite my time but I've been busy. Just fixed the tests using my Macbook and created PR #267

[2019-09-30 05:19] 1999 commented on #266
I'm not sure about `--env` - I can't find it in the documentation. Could you please point me to the page about it?

[2019-10-08 16:16] DJ-Glock commented on #201
Have exactly the same issue.

[2019-10-10 06:43] eladbenami commented on #260
sort option in mocha - im not aware.
but the reference i wrote above is not pointing to the exact code that we need to be changed?
"filesList.sort(); src/bin/options/rest.ts"

[2019-10-11 02:10] 1999 commented on #260
I see. The idea behind `mocha-parallel-tests` is to have as less custom options as possible so that developers can switch from `mocha` to `mocha-parallel-tests` easily. If there's no such option in `mocha` than it's highly likely that we will not add it to `mocha-parallel-tests`.

[2019-10-11 02:10] #260 closed

[2019-10-17 13:44] nick-kompas-cko opened #268 "Incompatible with `mocha-cakes-2`"
When initializing a new Mocha with `mocha-cakes-2`,  the tests are unable to run.

[code]

Error: `ReferenceError: feature is not defined`

I expected this to work is `mocha-parallel-tests` appears to be a wrapper of Mocha.
Any chance of adding support for this?

[2019-10-17 15:54] nick-kompas-cko commented on #220
I wouldn't know where to start adding this flag, I usually develop in C#. What tools do I need to develop `mocha-parallel-tests` locally? I think it is an easy thing to add but you need to add development details in the Readme to enable non ts devs to get involved.

[2019-10-17 16:02] nick-kompas-cko commented on #268
I just realised it was already requested that you add support for the `ui` option by someone else.

[2019-10-18 04:14] 1999 commented on #268
This looks more like a global issue where a global variable is shared between the tests. Is there such thing in `mocha-cake-2`?

[2019-11-01 08:05] DJ-Glock opened #269 "Run one file many times"
Hello
I am looking for a simple way to run some kind of load e2e tests using mocha-parallel-tests and puppeteer. Is there any possibility to run one test file many times in parallel? As for now I can see the only one option - to make many copies of one file and run them in parallel. But it sounds stupid :)
Checked issues, possible parameters, but did not found anything.

[2019-11-01 09:45] 1999 commented on #269
What about wrapping your file contents into a for loop?

[2019-11-01 10:02] DJ-Glock commented on #269
@1999 would you be so kind to provide some example? Because I do not understand how it will help.
As per my understanding at the moment all files and flat suites are run in parallel. Should I generate test suites by a for loop?

[2019-11-02 09:48] 1999 commented on #269
Ah, I guess I missed that point. Yes, probably generating the same files would be the best option. As for the test logic, you can probably put it into the file that you import from your tests.

[2019-11-03 06:57] PaulMest opened #270 "Include Worker ID in env similar to Jest"
Is there any way to get the worker ID within the test or a test helper? The goal would be to use this to automatically set up a different port or database.

Jest offers this as `process.env.JEST_WORKER_ID` (https://github.com/facebook/jest/issues/2284, https://github.com/facebook/jest/pull/5494).

[2019-11-03 18:34] DJ-Glock commented on #269
Thanks!

[2019-11-03 18:34] #269 closed

[2019-11-13 18:12] esmiralha commented on #255
Any updates on this issue?

[2019-11-21 04:35] 1999 commented on #255
Thanks for reporting this. Right now I don't have enough time to fix `mocha-parallel-tests` issues but I will be more than happy to help you to fix it.

[2019-12-26 12:11] jontxo opened #271 "Empty coverage with nyc using mocha-parallel-tests 2.2.2 but working with 2.1.0"
Hello

When I try to obtain the coverage of the tests with the version 2.2.2 of mocha-parallel-tests and nyc I get 0% cover for everything but the branch in one of the files, but I use the version 2.1.0 I get the correct coverage.
To get the coverage I use the following scripts:
`    "test": "NODE_ENV=test mocha-parallel-tests -r ts-node/register --recursive test/**/*-spec.*  --timeout 50000 --slo

[2020-01-03 12:14] jawahimanshu1988 opened #272 "I used to get metadata info 'this.currentTest.err.message' which is available with 2.1.0 but not with 2.2.1"

[2020-01-05 16:41] saartochner opened #273 "Share environment variables between workers"
Hey,
Feature idea: adding `--share-envs` to the CLI, which will allow sharing environment variables between the workers.
basically, this is simple
https://nodejs.org/api/worker_threads.html#worker_threads_worker_share_env

P.S. I implemented it and would be happy to open this as a PR.
Unfortunately, I don't have permission to open branches here so my hands are tied :(
The code is attached as zip
[

[2020-01-06 05:31] 1999 commented on #273
@saartochner you can fork this repo and create a PR for it - that's the way how pull requests are usually created in github for OSS projects. Still, this is a bit of a controversial change because it doesn't play well with the idea of "mocha-parallel-tests" where it only supports "mocha" flags. Maybe it's better to just pass all environment variables from the main process to workers?

[2020-01-06 07:27] saartochner commented on #273
@1999 Thanks for your answer!
I'll open the fork as you suggested and create a PR for it :-)

The idea behind _dynamically_ synchronizing the environment variables is to synchronize the workers.
As you stated correctly, mocha doesn't have this feature because they don't need to synchronize anything- they can simply use global variables.

Here's a word about my case, which causes me to think about

[2020-01-06 14:30] saartochner commented on #273
Hey,
here's the open PR:
https://github.com/mocha-parallel/mocha-parallel-tests/pull/274

[2020-01-06 23:34] 1999 commented on #273
Gotcha. I'd say your use case is pretty advanced so let's continue the discussion in your PR.

[2020-01-21 10:14] EltonZhong commented on #261
+1

[2020-01-22 06:56] EltonZhong commented on #261
My solution is: fork mocha processes to run mocha files.

[2020-02-06 16:14] rarms-aais commented on #271
We are experiencing this also. with any 2.2.x of mocha-parallel-test and nyc v15.0.0

[2020-02-08 02:02] DanMossa commented on #222
Any progress on this? ;D

[2020-02-08 02:29] Favna commented on #222
Pretty much only my PR #267 @DanMossa. I haven't really made time to look into why tests are flaky and I haven't been much motivated either since I have a strong preference for the Jest framework myself these days. My only interest in Mocha at the time lay in a single legacy app we still had at work but we've pretty much deprecated that app now as well.

[2020-02-08 21:29] #266 closed

[2020-02-08 23:55] #222 closed

[2020-02-17 19:37] nabilfreeman commented on #270
+1, so I can run 1 database per worker

[2020-02-17 20:17] PaulMest commented on #270
FWIW, I've migrated all of my projects to Jest and have been very happy.

[2020-02-18 21:26] adriaanvanrossum opened #279 "Silelently failing when using Mocha Mocha.Suite.create"
When using this code:

[code]

The output is (empty lines):

[code]

When using `require("mocha")` instead it returns fine:

[code]

[2020-02-20 08:26] kbkk opened #281 "New lines being spit out to stdout/stderr when a worker exits"
https://github.com/mocha-parallel/mocha-parallel-tests/blob/ecc19625d1b47294debcde5d7b0870d9ddef8fb1/src/subprocess/options/exit.ts#L13

I am not sure why is this behavior needed.
`// that's what mocha does` does not mean this lib has to do it as well.
It creates a huge mess, for example I have a test suite of 30 files and when using `--grep` to filter tests I get a whole screen of new lines.

![i

[2020-02-25 20:19] 1999 commented on #281
When you run grep with `mocha` do you see these empty lines as well?

[2020-02-25 20:20] 1999 commented on #279
I'm not sure `Mocha.Suite.create` is a public mocha API.

[2020-02-25 22:33] kbkk commented on #281
Nope

[2020-02-26 14:49] adriaanvanrossum commented on #279
It's the only way to have dynamically generate async tests: https://github.com/simpleanalytics/scripts/pull/5/files#diff-910eb6f57886ca16c136101fb1699231R118

[2020-03-18 15:44] slava-t commented on #265
Created a pull request for this issue

[2020-03-24 04:37] tommy-llm opened #284 "Missing diff in assertion failure"
In case of assertion failure, mocha would show string difference between expected & actual result, while mocha-parallel-tests does not.
![diff](https://user-images.githubusercontent.com/62583479/77388467-300a6e00-6dcb-11ea-82f7-0f1c6f72fc7f.png)

[2020-03-28 20:32] jontxo commented on #271
Now It is working with the latest versions of nyc and mocha-parallel-tests. I have updated the repository. I am going to close this issue.

[2020-03-28 20:32] #271 closed

[2020-04-03 09:15] Lakitna opened #285 "Support new Mocha config file"
I really like the new Mocha config files. I've fully switched over to them from `mocha.opts`. I also use the `--config` flag to split my e2e test config from my unit test config.

Both config file resolution and the `--config` flag do not work at the moment. Well, to be more precise, some config is picked up and others are not.

So I took a look at the code. It seems like this might be the only op

[2020-04-08 07:15] 1999 commented on #285
New config files look great for sure.  Seems like they are replacement for mocha.opts, right?

I don't think we do this now. The link you posted is about the CLI for the main process. I guess the logic should be somewhat close to the existing logic: https://github.com/mocha-parallel/mocha-parallel-tests/blob/master/src/bin/cli.ts#L130

Also, does `--config` option take precedence over mocha.opts f

[2020-04-08 12:35] Lakitna opened #286 "Exit with exitCode = test count when running with --forbid-only flag"
When running any test suite in a pipeline I always make sure to give the `--forbid-only` flag. When doing that with this package it exits the process with a non-zero exit code.

In fact, when I have 10 tests, it will fail with exit code 10. When I have 9 it will exit with 9 etc.

Are you using `.only` internally to make the parallelism work? If you do the implementation of `--forbid-only` can't be

[2020-04-09 09:55] xenoterracide commented on #285
I think this is my problem
[code]

https://mochajs.org/#mochaopts

here's the documentation for the precedence of files https://mochajs.org/#configuring-mocha-nodejs

[2020-04-09 12:17] xenoterracide opened #287 "cli doesn't appear to work the same way as mocha"
with mocha
[code]

with mocha-parallel-tests, exact same params, also tried with `--recurse test/`

[code]
now oddly

[code]
Calebs-MBP:aurelia-propertysource calebcushing$ npx mocha --version && npx mocha-parallel-tests --version
7.1.1
2.3.0
[code]

[2020-04-24 16:32] silasdavis commented on #265
I am wondering if I might be hitting something similar with the grpc native modules:

[code]

[2020-04-24 19:26] lenosky opened #288 "programmatic api vs cli"
Hi,
I set up typescript test project using ts-node,
running .ts tests via cli, using ----require ts-mocha, succeeds, but via equal programmatic interface complains with
SyntaxError: Cannot use import statement outside a module.
Here is a part of it:

async function run() {
    let specDir = "./specs/";
    const mocha = new MochaWrapper();
    mocha.timeout(3 * 10000);

    fs.readdirSync(specDir)

[2020-04-28 09:11] ayushj158 opened #289 "-- FIle CLI is working as expected. File is not executed before the executed of root test suite, they are executed in parallel"
Requirement : Execute a setup file ( to generate access tokens) before starting parallel execution of test case.

Mocha provides a --file options which says:  Specify file(s) to be loaded prior to root suite execution . The same CLI option is available for mocha-parallel-test but it does not work as expected. **Setup file and test suite execution starts simultaneously.**

Command :
mocha-parallel-

[2020-05-06 11:58] kingsimba opened #290 "xml report file has leading space in 'classname'"
# Problem
I use the following command to generate xml file:
[code]
But the report file has misformatted classname (note the leading space character):
[code]

[2020-05-24 10:11] BarrMan opened #291 "--ignore || --exclude flags are not working"
Adding --ignore or --exclude flags do not ignore test files

[2020-06-02 11:31] theKashey opened #292 ""official" support"
Just got merged to the mocha - https://github.com/mochajs/mocha/pull/4245

JFYI

[2020-06-03 11:36] 1999 commented on #292
Four years have passed since we started working on mocha-parallel-tests. I guess we did a great job :) Thanks for heads up @theKashey!

[2020-06-03 11:36] #292 closed

[2020-06-05 19:09] triwav commented on #273
Not sure where to post this but this seems the closest issue to what I'm running into. I need to be able to pass in different environment variables to each process. I'm planning to use this with physical hardware with each process having its own device that can't be shared. The idea being each process can have the ip address of the assigned device's ip but I don't see a way to do this. Appreciate

[2020-06-08 08:29] ET-CS commented on #289
👍

[2020-06-24 06:06] CoderSpinoza commented on #270
@PaulMest How long did it took for you to migrate? This feature is just essential for parallel tests...

[2020-06-24 06:21] PaulMest commented on #270
@CoderSpinoza
I think it all depends on how many tests you have to convert, how much can be done with a codemod, and if you have any other tools in your environment that don't support Jest.

For the most complicated project that involved dozens of tests and hundreds of assertions, it took a couple of days. Bulk of the work was done in ~4 hours.

Once we switched to Jest and larger test suites were

[2020-06-24 09:09] nabilfreeman commented on #270
That's cool, I didn't think about using Jest on the back-end.

We actually wrote our own process management using `child_process` and inside the child files we passed in a database name and a test file to run. So now each suite runs in its own thread.

This actually had some neat advantages because the test suites were always running a fresh DB migration and completely separate, something we've ha

[2020-06-24 09:16] CoderSpinoza commented on #270
@nabilfreeman The result sounds great. Did you also have a chance to get aggregated coverage report from parallel tests?

[2020-06-24 09:28] nabilfreeman commented on #270
Great question. I don't know how to do coverage in terms of nyc yet but we built our own coverage checker which counts:
% API routes tested
% ORM model helpers tested
% Utility methods tested

And returns an aggregate. Currently our coverage is still very bad and we're just focusing on getting API routes to 90%. 3 months work has taken us from <40% to 61%.

[2020-06-24 22:11] jcollum opened #294 "Support --inline-diffs ?"
I'm working on some code that a colleague wrote that uses this library. When I run a Mocha/Chai test with `-inline-diffs`:

 `node_modules/mocha-parallel-tests/dist/bin/cli.js --inline-diffs ./test-cases/*-e2e-test.js`

I don't get inline diffs:

![image](https://user-images.githubusercontent.com/704514/85632500-4a532280-b62c-11ea-99c9-7c07e852b718.png)

Inline diffs are documented here: https://m

[2020-06-25 08:03] stevenlafl opened #295 "Unhandled asynchronous exception: TypeError: this.suite[option] is not a function"
Test code:
[code]
I have tried many different tests I could run under mocha, but this is the simplest that fails.

Starting with `mocha-parallel-tests -R xunit --timeout 10000 --slow 1000 tests/*.test.js`

[2020-06-26 13:54] mastermatt commented on #295
I started to see this after upgrading Mocha to v8.x.

[2020-07-08 12:57] rickycamongol opened #296 "mochawesome generating unexpected UUID using mocha-parallel-test"
Can someone help me why, when I'm trying to run MOCHA tests in parallel using mocha-parallel-test and generate a report using mochawesome I'm getting an unexpected UUID. See below screenshot.

My test structure like this:

-> Describe
----> It
----> it
Note: This unexpected UUID is NOT getting generated when running in sequential manner.
Many thanks in advance.

![image](https://user-images.github

[2020-07-10 09:36] 1999 commented on #295
@mastermatt out of interest, mocha@8 supports parallel mode, does it work for you?

[2020-07-10 22:05] mastermatt commented on #295
Using the parallel mode out of the box in mocha 8 isn't straight forward in my case. I'm moving in that direction, but I was hoping to continue using  `mocha-parallel-tests` in the mean time.

[2020-12-04 00:17] paparaju commented on #246
Is this issue fixed by any chance?

[2020-12-04 21:06] dprantl03 commented on #246
This seems to also be happening with Mocha's own version of parallel running as of v8.0 using the --parallel flag.

[2021-02-26 11:27] NazarYermolenko opened #299 "What about support of Mocha 8?"

[2021-03-01 09:34] pbezpal commented on #299
[Mocha 8 and parallel tests](https://mochajs.org/#parallel-tests)

[2021-03-01 10:01] NazarYermolenko commented on #299
Mocha 8 has worse implementation of parallelization than mocha-parallel-tests, the comparison is in the README of the repo :)
@pbezpal

[2021-03-26 03:16] richard-hor-bgl opened #300 "Using mocha-parallel-tests with runtime generated Mocha test suite"
Hi there,

I have some sample Mocha codes as below:
[code]
I run this ok with Mocha.

I wonder how can i use mocha-parallel-tests to run this kind of Mocha tests.

Much appreciated for your help.
Thank you in advance.

[2021-04-13 07:33] Pritam-RoyChowdhury commented on #295
Any updated on this issue?

[2021-04-16 18:39] jcollum commented on #294
Any news on this one?

[2021-04-28 05:03] rohitghy5 opened #302 "Getting error Unhandled asynchronous exception: Unhandled asynchronous exception"
When I am trying the below mocha parallel command getting error. Please share your inputs how to resolve the issue

Command
mocha-parallel-tests --require ts-node/register ./bat/**/**/*.ts --timeout=300000 --env=./EnvFiles/Env.xml --browser=CH --reporter-options reportDir=./reports/tests/html

Error
Unhandled asynchronous exception: Unhandled asynchronous exception
npm ERR! code ELIFECYCLE
npm ERR

[2021-05-14 07:56] josemontesp opened #305 "Typescript support with ts-mocha"
I'm using ts-mocha in my project, and I couldn't find a way to get it to work with this package. Is there a way to specify the mocha binary to use?

[2021-06-08 00:56] richard-hor-bgl commented on #284
Hi there, how do i get a new mocha-parallel-tests version which got this issue fixed?

[2021-06-08 00:56] richard-hor-bgl commented on #215
Hi there, how do i get a new mocha-parallel-tests version which got this issue fixed?

[2021-07-03 20:00] ajmalkhan92 opened #307 "mocha-allure-reporter: Cannot read property 'currentStep' of undefined"
[code]

[2021-07-03 22:52] 1999 opened #308 "Call for maintainer"
If you're ready to maintain this repo, please comment.

[2021-07-06 09:16] vitali-storchous commented on #261
Hi, @EltonZhong
could you please provide a little bit more information about the implementation of your solution?

[2021-07-07 10:31] ajmal-khan-e3045 commented on #307
Do we have any plans to prioritize this

[2021-09-14 13:14] #281 closed

[2022-03-18 14:07] rick-james-norwex opened #312 "cannot resolve dependency during npm install"
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: max-global-automation@1.0.0
npm ERR! Found: mocha@9.2.2
npm ERR! node_modules/mocha
npm ERR!   mocha@"^9.2.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer mocha@"3.0.0 - 7.x.x" from mocha-parallel-tests@2.3.0
npm ERR! node_modules/mocha-parallel-tests

[2022-03-18 14:14] rick-james-norwex commented on #312
there is a library which forks this one to try and support mocha ^9 however it comes with several vulnerabilities
https://www.npmjs.com/package/mocha9-parallel-tests
https://github.com/ntedgi/mocha-parallel-tests

# npm audit report

ansi-regex  >2.1.1 <5.0.1
Severity: moderate
 Inefficient Regular Expression Complexity in chalk/ansi-regex - https://github.com/advisories/GHSA-93q8-gq69-wqmw
No fix

[2022-08-25 07:44] darkallure commented on #307
@ajmalkhan92  any update on this issue? Did you manage to solve it?

[2022-08-25 10:00] darkallure commented on #261
@EltonZhong please show us how to do that

[2022-09-08 03:46] #300 closed

[2022-10-26 07:36] dev-ardi commented on #308
Why keep maintaining this project? Didn't mocha v8.0 obsolete this?